<section id="about">
   
    <div class="windows">
        <div class="rectangle-1c"><span class="about-us-1d">
                <span lang="eng">ABOUT US</span> 
                <span lang="jp">会社概要</span> 
            </span>
        </div>
        <div class="container-width-contact">
            <div class="main-width">
                <div class="rectangle-1e">
                    <span class="company-profile">Company <br />Profile</span>
                    <div class="line-1f"></div>

                    <table class="kailas-robotics-inc-saitec-room">
                        <tr>
                            <td class="kailas-robotics-inc-saitec-room-20">Company Name</td>
                            <td class="kailas-robotics-inc-saitec-room-21">Kailas Robotics Inc.</td>
                        </tr>
                        <tr>
                            <td class="kailas-robotics-inc-saitec-room-20">Inception</td>
                            <td class="kailas-robotics-inc-saitec-room-21">2022.09</td>
                        </tr>
                        <tr>
                            <td class="kailas-robotics-inc-saitec-room-20">Japan Office (Head office)</td>
                            <td class="kailas-robotics-inc-saitec-room-21">
                                <span lang="eng"> Room 506, 3-12-18 Kamiaoki,<br/> Kawaguchi-shi, Saitama, <br/>333-0844, Japan</span>
                                <span lang="jp"> 〒333-0844 埼玉県川口市上青木3-12-18 <br>埼玉県産業技術支援センター 506号室</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="kailas-robotics-inc-saitec-room-20">USA Office</td>
                            <td class="kailas-robotics-inc-saitec-room-21">212-214 Homer Ave, Palo Alto, CA 94301, <br/>(Japan Innovation Campus), USA</td>
                        </tr>
                    </table>
                    <div class="vector-23"></div>
                    <div class="vector-24"></div>
                </div>
            </div>
        </div>
        <div class="container-width">
            <div class="main-width">
                <span class="founders">Founders</span>
                <div class="grid-container-about">
                    <div class="grid-item-about">
                        <div class="flex-row-baa">
                            <div class="group"></div>
                        </div>
                        <div class="foonders">
                            <div class="flex-row-27">
                                <span class="dambadarjaa-munkhbayar">
                                    <span lang="eng">Dambadarjaa Munkhbayar</span>
                                    <span lang="jp">ダンバダルジャ・ムンフバヤル</span>
                                </span>
                            </div>
                            <div class="flex-row-28">
                                <span class="ceo">CEO</span>
                            </div>
                            <div class="flex-row-b">
                                <span class="computer-science-engineer">
                                    10+yrs Computer Science Engineer<br />Sorako Japan: Founder<br />Tokai University
                                </span>
                            </div>
                            <div class="rectangle-29">
                                <button class="linkedin"  onclick="openLinkedInM()">
                                    <div class="vector-2a"></div>
                                </button>
                            </div>
                        
                        </div>
                        
                    </div>

                    <div class="grid-item-about">
                        <div class="flex-row-baa">
                            <div class="group-25"></div>
                        </div>
                        <div class="flex-row-27">
                            <span class="adiyasuren-altanbileg">
                                <span lang="eng">Adiyasuren Altanbileg</span>
                                <span lang="jp">アデイヤスレン・アルタンビレグ</span>
                            </span>
                        </div>
                        <div class="flex-row-28">
                            <span class="ceo">CTO</span>
                        </div>
                        <div class="flex-row-b">
                            <span class="computer-science-engineer">
                                10+yrs Robotics Engineer<br />KSJ: CTO & Board member<br />Int'l Physics Olympian<br />Tokyo university
                            </span>
                        </div>
                        <div class="rectangle-29">
                            <button class="linkedin"  onclick="openLinkedInA()">
                                <div class="vector-2a"></div>
                            </button>
                        </div>
                    </div>
                    <div class="grid-item-about">
                        <div class="flex-row-baa">
                            <div class="group-26"></div>
                        </div>
                        <div class="flex-row-27">
                            <span class="yoshi-shiomi">
                                <span lang="eng">Yoshi Shiomi</span>
                                <span lang="jp">塩見 佳久</span>
                            </span>
                        </div>
                        <div class="flex-row-28">
                            <span class="ceo">CSO</span>
                        </div>
                        <div class="flex-row-b">
                            <span class="computer-science-engineer">
                                FLIP FRIDAY Founder<br />Chalk Digital Japan: CEO<br />Prodrone: EVP<br />Yoshimoto Kogyo: Producer
                            </span>
                        </div>
                        <div class="rectangle-29">
                            <button class="linkedin" onclick="openLinkedInSH()">
                                <div class="vector-2a"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>    
    <div class="phone ">
        <div class="rectangle-1c"><span class="about-us-1d">
                <span lang="eng">ABOUT US</span> 
                <span lang="jp">会社について</span> 
            </span>
        </div>
        <div class="rectangle-1e">
            <span class="company-profile">Company <br />Profile</span>
            <div class="line-1f"></div>
    
            <table class="kailas-robotics-inc-saitec-room">
                
                <tr>
                    <td class="kailas-robotics-inc-saitec-room-20">Company Name</td>
                    <td class="kailas-robotics-inc-saitec-room-21">Kailas Robotics Inc.</td>
                </tr>
                <tr>
                    <td class="kailas-robotics-inc-saitec-room-20">Inception</td>
                     <td class="kailas-robotics-inc-saitec-room-21">2022.09</td>
                </tr>
                <tr>
                      <td class="kailas-robotics-inc-saitec-room-20">Japan Office<br>  (Head office)</td>
                      <td class="kailas-robotics-inc-saitec-room-21">SAITEC Room 506, 3-12-18<br/> Kamiaoki, Kawaguchi-shi,<br/> Saitama, 333-0844, Japan</td>
                </tr>
                <tr>
                      <td class="kailas-robotics-inc-saitec-room-20">USA Office</td>
                      <td class="kailas-robotics-inc-saitec-room-21">212-214 Homer Ave, Palo Alto,<br/> CA 94301, (Japan Innovation <br/>Campus), USA</td>
                </tr>
            </table>
            <div class="vector-23"></div>
            <div class="vector-24"></div>
        </div>
        <span class="founders">Founders</span>
        <div class="grid-container-about">
            <div class="grid-item-about">
                <div class="flex-row-baa">
                    <div class="group"></div>
                
                </div>
                <div class="flex-row-27">
                    <span class="dambadarjaa-munkhbayar">Dambadarjaa Munkhbayar</span>
                
                </div>
                <div class="flex-row-28">
                    <span class="ceo">CEO</span>
                
                </div>
                <div class="flex-row-b">
                    <span class="computer-science-engineer">
                        10+yrs Computer Science Engineer<br />Sorako Japan: Founder<br />Tokai University
                    </span>
                </div>
                <div class="rectangle-29">
                    <button class="linkedin" onclick="openLinkedInM()">
                        <div class="vector-2a"></div>
                    </button>
                </div>
            </div>
            <div class="grid-item-about"></div>
            <div class="grid-item-about">
                <div class="flex-row-baa">
                    <div class="group-25"></div>
                </div>
                <div class="flex-row-27">
                    
                    <span class="adiyasuren-altanbileg">Adiyasuren Altanbileg</span>
                </div>
                <div class="flex-row-28">
                    <span class="ceo">CTO</span>
                </div>
                <div class="flex-row-b">
                    <span class="computer-science-engineer">
                        10+yrs Robotics Engineer<br />KSJ: CTO & Board member<br />Int'l Physics Olympian<br />Tokyo university
                    </span>
                </div>
                <div class="rectangle-29">
                    <button class="linkedin" onclick="openLinkedInA()">
                        <div class="vector-2a"></div>
                    </button>
                </div>
            </div>
            <div class="grid-item-about"></div>
            <div class="grid-item-about">
                <div class="flex-row-baa">
                    
                    <div class="group-26"></div>
                </div>
                <div class="flex-row-27">
                    <span class="yoshi-shiomi">Yoshi Shiomi</span>
                </div>
                <div class="flex-row-28">
                    <span class="ceo">CSO</span>
                </div>
                <div class="flex-row-b">
                    <span class="computer-science-engineer">
                        FLIP FRIDAY Founder<br />Chalk Digital Japan: CEO<br />Prodrone: EVP<br />Yoshimoto Kogyo: Producer
                    </span>
                </div>
                <div class="rectangle-29">
                    <button class="linkedin"  onclick="openLinkedInSH()">
                        <div class="vector-2a"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
