<footer class="u-clearfix u-footer u-grey-80" id="sec-494d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-30-md u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <div data-position="" class="u-position u-position-1">
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <h5 class="u-block-header u-text u-text-body-alt-color u-text-13">
                                            <span lang="jp">社名</span> 
                                            <span lang="eng">Company name</span>

                                        </h5>
                                        <div class="u-block-content u-text">
                                            <span lang="jp">株式会社 Kailas Robotics</span>
                                            <span lang="eng">Kailas Robotics inc.</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-position="" class="u-expanded-width u-position u-position-2">
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <h5 class="u-block-header u-text u-text-body-alt-color u-text-13">
                                            <span lang="jp">資本金</span>
                                            <span lang="eng">Capital</span>

                                        </h5>
                                        <div class="u-block-content u-text">
                                            <span lang="jp">1,040万円</span>
                                            <span lang="eng">10.4 million yen</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-position="" class="u-expanded-width u-position u-position-3">
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <h5 class="u-block-header u-text u-text-body-alt-color u-text-13">
                                            <span lang="jp">設立</span>
                                            <span lang="eng">Establishment</span>

                                        </h5>
                                        <div class="u-block-content u-text">
                                            <span lang="jp">2022年9月28日</span>
                                            <span lang="eng">September 28, 2022</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-position="" class="u-expanded-width u-position u-position-4">
                                <!--block-->
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <!--block_header-->
                                        <h5 class="u-block-header u-text u-text-body-alt-color u-text-13">
                                            <span lang="jp">事業内容</span>
                                            <span lang="eng">Business description</span>

                                        </h5>
                                        <div class="u-block-content u-text">
                                            <span lang="jp">ロボット研究、製造、開発、販売</span>
                                            <span lang="eng">Robot research, manufacturing, development and sales</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-left u-container-style u-layout-cell u-size-20 u-size-30-md u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <!--position-->
                            <div data-position="" class="u-position u-position-5">
                                <!--block-->
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <!--block_header-->
                                        <h5 class="u-block-header u-text u-text-body-alt-color u-text-13">
                                            <span lang="jp">本社</span>
                                            <span lang="eng">Main office</span>

                                        </h5>
                                        <div class="u-block-content u-text">
                                            <span lang="jp">〒116-0013 東京都荒川区</br>西日暮里六丁目37番1号</span>
                                           <span lang="eng">〒16-37-1 Nishinippori, Arakawa-ku, Tokyo 116-0013</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-position="" class="u-expanded-width u-position u-position-6">
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <h5 class="u-block-header u-text u-text-body-alt-color u-text-13">
                                            <span lang="jp">R&D オフィス</span> 
                                            <span lang="eng">R&D office</span> 

                                        </h5>
                                        <div class="u-block-content u-text">
                                            <span lang="jp">〒333-0844 埼玉県川口市上青木3丁目12番18号 埼玉県産業技術総合センター内 506号室（SKIPシティ内）</span>
                                            <span lang="eng">〒333-0844 3-12-18 Kamiaoki, Kawaguchi City, Saitama Prefecture Saitama Prefectural Industrial Technology Center Room 506 (inside SKIP City)</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-layout-cell-3">
                        <div class="u-container-layout u-container-layout-3">
                            <div data-position="" class="u-position u-position-7">
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <h5 class="u-block-header u-text u-text-body-alt-color u-text-13">
                                            <span lang="jp">メールアドレス</span>
                                            <span lang="eng">Mail address</span>
                                        </h5>
                                        <div class="u-block-content u-text u-text-body-alt-color u-text-14">
                                            info@kailasrobotics.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-position="" class="u-expanded-width u-position u-position-8">
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <h5 class="u-block-header u-text u-text-body-alt-color u-text-15">
                                            <span lang="jp">電話</span>
                                            <span lang="eng">Telephone</span>
                                        </h5>
                                        <div class="u-block-content u-text u-text-body-alt-color u-text-16">
                                            03-6824-1790
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-position="" class="u-expanded-width u-position u-position-8">
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <h5 class="u-block-header u-text u-text-body-alt-color u-text-15">
                                            <span lang="jp">代表取締役社長</span>
                                            <span lang="eng">CEO</span>
                                        </h5>
                                        <div class="u-block-content u-text u-text-body-alt-color u-text-16">
                                            <span lang="jp">ダンバダルジャ・ムンフバヤル (ダンバ)</span>
                                            <span lang="eng">Dambadarjaa Munkhbayar (Damba)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-50 u-line-1"></div>
    </div>
</footer>
<a href="#" id="scroll-to-top" class="dmtop global-radius show"><i class="fa fa-arrow-circle-o-up"></i></a>
<script src="assets/js/all.js"></script>
<script type='text/javascript' src="assets/js/custom.js"></script>
<script type='text/javascript' src="assets/js/jquery.min.js"></script>
<script type='text/javascript' src="assets/js/bootstrap.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script type="text/javascript">
    let langs = ['jp', 'mon', 'eng'];
    let lang = 'jp';
    setLangStyles(lang);

    const scriptURL = 'https://script.google.com/macros/s/AKfycbwSNOPhtU3uQgqk3Y4xbLLonhB3eOF0cPY6uZDwLfFwdDHS8YNsG1M5G2P4H5o_D7t3/exec'
    const scriptMailURL = 'https://script.google.com/macros/s/AKfycbyez1dkI5vw_jSViMzTh6cU_csn1m959LJHA7-xLdo-oupC0v32M51ayajv1YRXhDvu/exec'
    const scriptMailCustomerURL = 'https://script.google.com/macros/s/AKfycbz3isptYQG8-usZ7Ikd0j3hS0j59wRYGUdZ9y209Y0FQ24EVrJcrE_fqkObtUQDz3Jm/exec'
    const form = document.forms['googleSheet']

    form.addEventListener('submit', e => {
        e.preventDefault()
        var recaptcha = $("#g-recaptcha-response").val()
        if (recaptcha === "") {
            $("#formAlerts").html('<div class="alert alert-danger"><span lang="jp">リキャプチャを確認してください!</span><span lang="eng">Please check the recaptcha!</span></div>');
        } else {
            $("#formAlerts").html('');
            setLoading(true)
            fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => {
                    $("#formAlerts").html('<div class="alert alert-success"><span lang="jp">成功!</span><span lang="eng">Successfully!</span></div>');
                    clearForm()
                    setTimeout(function(){
                        $("#closeBtn").click()
                        $("#formAlerts").html('')
                        setLoading(false)
                        fetch(scriptMailURL)
                            .then(response => {
                                console.log("Successfully")
                                fetch(scriptMailCustomerURL)
                                    .then(response => {
                                        console.log("Successfully send mail for customer")
                                    }) 
                                    .catch(error => {
                                        console.log("Failed send mail for customer")
                                    })
                            }) 
                            .catch(error => {
                                console.log("Failed")
                            })
                    }, 50) 
                })
                .catch(error => {
                    $("#formAlerts").html('<div class="alert alert-danger"><span lang="jp">エラー!</span><span lang="eng">Error!</div>')
                    setLoading(false)
                })
        } 
    })

    function setLoading(loading) {
        if (loading) {
            $("#myLoading").css("display", "flex")
        } else {
            $("#myLoading").css("display", "none")
        }
    }

    function setStyles(styles) {
        var elementId = '__lang_styles';
        var element = document.getElementById(elementId);
        if (element) {
            element.remove();
        }

        let style = document.createElement('style');
        style.id = elementId;
        style.type = 'text/css';

        if (style.styleSheet) {
            style.styleSheet.cssText = styles;
        } else {
            style.appendChild(document.createTextNode(styles));
        }
        document.getElementsByTagName('head')[0].appendChild(style);
    }

    function setLang(lang) {
        setLangStyles(lang);
    }

    function setLangStyles(lang) {
        let styles = langs
            .filter(function(l) {
                return l != lang;
            })
            .map(function(l) {
                return ':lang(' + l + ') { display: none; }';
            })
            .join(' ');

        setStyles(styles);
    }

    function clearForm() {
        $('#myForm').get(0).reset()
    }
</script>

