<footer>
    <section id="bottom">
      <div class="bottom-cta">
        <h2 class="subtitle sc-over">
          	<div lang="jp">会社情報</div>
          	<div lang="mon">Компани</div>
          	<div lang="eng">Company</div>
        </h2>
        <div  class="wrapper">
          <table class="table" >
              <tr>
                <th class="lang" key="nameCom" style="border:none;">
                  <span lang="jp">社名</span> 
                  <span lang="mon">Компанийн нэр</span>
                  <span lang="eng">Company name</span>
                </th>
                <td  style="border-width: 0px;" >
                  <span lang="jp">株式会社 Kailas Robotics</span>
                  <span lang="mon">Kailas Robotics.inc</span>
                  <span lang="eng">Kailas Robotics.inc</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span lang="jp">設立</span>
                  <span lang="mon">Байгууллага</span>
                  <span lang="eng">Establishment</span>
                </th>
                <td>
                  <span lang="jp">2022年9月28日</span>
                  <span lang="mon">2022 оны есдүгээр сарын 28</span>
                  <span lang="eng">September 28, 2022</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span lang="jp">資本金</span>
                  <span lang="mon">Хөрөнгө</span>
                  <span lang="eng">Capital</span>
                </th>
                <td>
                   <span lang="jp">1,040万円</span>
                   <span lang="mon">10.4 сая иен</span>
                   <span lang="eng">10.4 million yen</span>
                </td>
              </tr>
             
               <tr>
                <th>
                  <span lang="jp">本社</span>
                  <span lang="mon">үндсэн оффис</span>
                  <span lang="eng">Main office</span>
                </th>
                <td>
                   <span lang="jp">〒116-0013 東京都荒川区西日暮里六丁目37番1号</span>
                   <span lang="mon">6-37-1 Nishinippori, Arakawa-ku, Tokyo 116-0013</span>
                   <span lang="eng">16-37-1 Nishinippori, Arakawa-ku, Tokyo 116-0013</span>
                </td>
              </tr>
               <tr>
                <th>
                  <span lang="jp">R&D オフィス</span> 
                  <span lang="mon">R&D office</span> 
                  <span lang="eng">R&D office</span> 
                </th>
                <td> 
                  <ul>
                    <li>
                       <span lang="jp">1〒333-0844 埼玉県川口市上青木3丁目12番18号 埼玉県産業技術総合センター内 506号室（SKIPシティ内） </span>
                   <span lang="mon">1〒333-0844 3-12-18 Kamiaoki, Kawaguchi City, Saitama Prefecture Saitama Prefectural Industrial Technology Center Room 506 (inside SKIP City)</span>
                   <span lang="eng">1〒333-0844 3-12-18 Kamiaoki, Kawaguchi City, Saitama Prefecture Saitama Prefectural Industrial Technology Center Room 506 (inside SKIP City)</span>
                     </li>
                     <li>
                       <span lang="jp"><strong>メールアドレス</strong>:  info@kailasrobotics.com</span>
                       <span lang="eng"><strong>Mail address</strong>:  info@kailasrobotics.com</span>
                     </li>   
                     <li>
                       <span lang="jp"><strong>電話</strong>： 03-6824-1790</span>
                       <span lang="eng"><strong>Telephone</strong>:  03-6824-1790</span>
                     </li>
                  </ul> 
                </td>
              </tr>
              </tr>
              <tr>
                <th>
                    <span lang="jp">事業内容</span>
                    <span lang="mon">Бизнесийн тодорхойлолт</span>
                    <span lang="eng">Business description</span>
                 </th>
                <td>
                  <ul>
                    <li>
                      <span lang="jp">モロボット研究、製造、販売</span>
                      <span lang="mon">Robot research, manufacturing and sales</span>
                      <span lang="eng">Robot research, manufacturing and sales</span>
                    </li>
                   <!--  <li>
                      <span lang="jp">インターネットによる情報サービス業</span>
                      <span lang="mon">Интернэт мэдээллийн үйлчилгээний салбар</span>
                      <span lang="eng">Internet information service industry</span>
                    </li> -->
                  </ul>
                </td>
              </tr>
              <tr>
                <th class="ths"></th>
                <td class="tds">
                </td>
              </tr>
          </table>
        </div>
      </div>
    </section>
  </footer>
<!--   <img class="model" src="img/backtop.png" alt="" /> -->
  <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-arrow-circle-o-up"></i></a>
  
  <script src="assets/js/all.js"></script>
  <script type="text/javascript">
    let langs = ['jp', 'mon', 'eng'];
    let lang = 'jp';
    setLangStyles(lang);

    function setStyles(styles) {
      var elementId = '__lang_styles';
      var element = document.getElementById(elementId);
      if (element) {
        element.remove();
      }

      let style = document.createElement('style');
      style.id = elementId;
      style.type = 'text/css';

      if (style.styleSheet) {
        style.styleSheet.cssText = styles;
      } else {
        style.appendChild(document.createTextNode(styles));
      }
      document.getElementsByTagName('head')[0].appendChild(style);
    }

    function setLang(lang) {
      setLangStyles(lang);
    }

    function setLangStyles(lang) {
      let styles = langs
        .filter(function (l) {
          return l != lang;
        })
        .map(function (l) {
          return ':lang('+ l +') { display: none; }';
        })
        .join(' ');

      setStyles(styles);
    }
  </script>
  <script type='text/javascript' src="assets/js/custom.js"></script>
  <script type='text/javascript' src="assets/js/jquery.min.js"></script>
  <script type='text/javascript' src="assets/js/bootstrap.js"></script>
  <script type='text/javascript' src="assets/js/jquery.prettyPhoto.js"></script>
  <script type='text/javascript' src="assets/js/sequence.jquery.js"></script>
  <script type='text/javascript' src="assets/js/jquery-hover-effect.js"></script> 
  