<style>
 
 .mc-field-group input {

  width: 100%;
  height: 45px;
  text-indent: 2%;
}

#mc-embedded-subscribe {
    background-color: #F1A556;
    border: 0 none;
    color: white;
    font-size: 18px;
    width: 167px;
    height: 44px;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 0 0;
}

.mc-field-group-right{
    text-align: right;
}

.mce_inline_error {
    width: 200px;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    color: #e85c41;
}


    .contact_bg
    {
        height: 200px;
        margin: 50px 0 0 0;
        background: #2b3a83;
    }
    .contact_txt
    {
        color: rgb(255, 255, 255);
        font-family: Roboto, var(--default-font-family);
        font-size: 48px;
        font-weight: 500;
    }
    .contact_arrow
    {
        background: url(../assets/kailas_images/arrow1.png) no-repeat center;
        background-size: 40%; 
        transform: rotate(180deg); 
        background-position: center;
        background-repeat: no-repeat;
    }
    .contact_email
    {
        width: 30px;
        height: 30px;
        background: url(../assets/images/20bd31f5-b945-4876-a382-59050689d5b9.png) no-repeat center;
        background-size: cover;
    }
    .contact_email_txt
    {
        color: rgb(255, 255, 255);
        font-family: Roboto, var(--default-font-family);
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
    }

    .footer_kailas_logo
    {
        width: 254px;
        height: 86px;
        background: url(../assets/images/d823eeb3677b9d2b0946e52551de6c1247f188f9.png)no-repeat center;
        background-size: cover;
    }
    .footer_navigation_title
    {
        margin-bottom: 10px;
    
        color: #000000;
        font-family: Roboto, var(--default-font-family);
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        white-space: nowrap;
    }

    .footer_navigation_link
    {
        text-decoration: none !important; 
        color: #2b3a83; 
        margin-bottom: 10px;
    }

    .left_style_img {
        justify-content: left;
        align-items: start;
    }

    .left_style {
        justify-content: left;
    }

    .header_text
    {
        font-weight: bold;  
        font-size: 20px; 
    }

    .footer_twiter
    {
        width: 25px;
        height: 24px;
        background: url(../assets/images/7239d900-ebe7-47da-a205-63b5aaeb9df5.png) no-repeat center;
        background-size: 100% 100%;
    }
    .footer_fb
    {
        width: 25px;
        height: 24px;
        background: url(../assets/images/cb13c364-3876-409a-b851-c2076d04ddc6.png) no-repeat center;
        background-size: 100% 100%;
    }

    .mac_range
    {
        margin-top: 0px;
    }

    @media only screen and (max-width: 844px) 
    {
        .footer_kailas_logo 
        {
            margin-top: 50px;
            width: 100%;
            background-size:250px;
        }

        .left_style_img 
        {
            height: 100%; 
        }
        .left_style_img {
            justify-content: center;
        }

        .left_style {
            margin-top: 100px;
            justify-content: center;
            text-align: center;
        }

        .header_text
        {
            margin-top: 50px;
            font-weight: bold;  
            text-align: center;
            font-size: 20px; 
        }
        .mc-field-group-right{
            text-align: center;
        }

       

        #mc-embedded-subscribe 
        {
            
            border: 0 none;
            color: white;
            font-size: 18px;
            width: 167px;
            height: 44px;
            border-radius: 5px 5px 5px 5px;
            margin-top: 40px;
        }
        #mc-embedded-subscribe 
        {
            margin: 1em auto; 
        }
        .mac_range
        {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .mce_inline_error {
            width: 100%;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            font-size: 14px;
            font-weight: normal;
            color: #e85c41;
        }
    }
    @media only screen and (max-width: 767px) 
    {
        .mc-field-group input 
        {
            margin-top: 50px;
            text-align: center;
            width: 300px;
            height: 45px;
            text-indent: 2%;
        }
    }
</style>

<section id="contact" style="background-color: #f9fafb;">
    <div class="border d-flex justify-content-center align-items-center contact_bg">
        <div class="container">
            <div class="row"> 
                <div class="col-md-4  d-flex justify-content-center align-items-center contact_txt">
                    <span lang="eng">CONTACT US</span> 
                    <span lang="jp">お問合わせ</span> 
                </div>
                <div class="col-md-4  d-flex justify-content-center align-items-center contact_arrow"></div>
                <div class="col-md-4  d-flex justify-content-center align-items-center">
                    <div class="contact_email"></div>
                    <span class="contact_email_txt" href="#myModal" data-toggle="modal"  data-target="#exampleModal">
                        info@kailasrobotics.com
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="row"> 
            <div class="col-md-1"></div>
            <div class="col-md-4 left_style_img ">
                <div class="d-flex flex-column"> 
                    <div class="footer_kailas_logo"></div>
                </div>
            </div>
            <div class="col-md-2 left_style">
                <div class="d-flex flex-column"> 
                    <div class="footer_navigation_title mb-3">
                        <span>Navigation</span>
                    </div>
                    <a href="#news" class="footer_navigation_link mb-2" onclick="handleSmoothScrollToTop(event);">
                        <span lang="eng">Top</span> 
                        <span lang="jp">Top</span>  
                    </a>
                    <a href="#news" class="footer_navigation_link mb-2" onclick="handleSmoothScroll(event);">
                        <span lang="eng">NEWS</span> 
                        <span lang="jp">ニュース</span>  
                    </a>
                    <a href="#product" class="footer_navigation_link mb-2" onclick="handleSmoothScroll(event);">                    
                        <span lang="eng">PRODUCTS</span> 
                        <span lang="jp">プロダクト</span>   
                    </a>
                    <a href="#about" class="footer_navigation_link mb-2" onclick="handleSmoothScroll(event);">
                        <span lang="eng">ABOUT US</span> 
                        <span lang="jp">会社概要</span> 
                    </a>
                    <a href="#contact" class="footer_navigation_link mb-2" onclick="handleSmoothScroll(event);"> 
                        <span lang="eng">CONTACT</span> 
                        <span lang="jp">お問合せ</span> 
                    </a>
                </div>
            </div>
            <div class="col-md-4 left_style_img">
                
                <form action="https://kailasrobotics.us11.list-manage.com/subscribe/post?u=4b664da3e16931171aec5e14b&amp;id=87521d5634&amp;f_id=0027a0e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div style="width: 100%;">
                        <div class="row " >
                            <div class="col-md-12">
                                <h2 class="header_text">
                                    <span lang="eng">Sign up to our Newsletter</span>
                                    <span lang="jp">ニュースレターに登録</span>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mc-field-group mc-field-group-right ">
                                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input  type="submit" name="subscribe" id="mc-embedded-subscribe" class="button subscr_button"  value="Subscribe">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mc-field-group">
                                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                <script type="text/javascript">
                (function($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                    fnames[3] = 'ADDRESS';
                    ftypes[3] = 'address';
                    fnames[4] = 'PHONE';
                    ftypes[4] = 'phone';
                    fnames[5] = 'BIRTHDAY';
                    ftypes[5] = 'birthday';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
                </script>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="container" style="margin-top: 50px; border-top: 1px solid lightgray;">
            <div class="row"style="margin-top: 50px">
                <div class="col-md-4" style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        <a target="_blank" href="https://www.linkedin.com/company/97391393/">
                            <div class="footer_twiter"></div>
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.youtube.com/channel/UCn9Qw-gqk9xa18vCEAuvYAw">
                            <div class="footer_fb"></div>   
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mac_range">
                    <div style="text-align: center;" style="margin-top: 40px;">   
                        <span style="
                        
                        color: #000000;
                        font-family: Roboto, var(--default-font-family);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14px;
                        text-align: center;"
                        >©2024 Kailas Robotics. All rights reserved.</span>
                    </div>
                </div>
                <div class="col-md-4 " style="display: flex; justify-content: space-between; align-items: center;"> 
                    <div style="text-align: start;"  style="margin-top: 40px;">
                        <span style="
                        color: #2b3a83;
                        font-family: Roboto, var(--default-font-family);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14px;
                        white-space: nowrap;">Privacy Policy</span>
                    </div>
                    <div style="text-align: center;"  style="margin-top: 40px;">
                        <span  style="
                        color: #2b3a83;
                        font-family: Roboto, var(--default-font-family);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14px;
                        white-space: nowrap;">Term of Use</span>
                    </div>
                    <div style="text-align: end;">
                        <span style="
                        color: #2b3a83;
                        font-family: Roboto, var(--default-font-family);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14px;
                        white-space: nowrap;">Ethics Statement</span>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>