<header class="rectangle">
    <nav class="navbar navbar-expand-lg bg-light fixed-top" style="border-bottom: 1px solid rgb(214, 203, 203);">
        <a class="navbar-brand" href="#">
            <img src="../assets/kailas_images/kailaslogo.png" alt="kailas_logo" style="height: 45px; margin-right: 0;">
            <img src="../assets/kailas_images/kailaslogo1.png" alt="kailas_logo" style="height: 35px; margin-top: 7px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#news" onclick="handleLinkClick(event, this); closeNavbar();" aria-label="Go to News Section">
                        <span lang="eng">NEWS</span>
                        <span lang="jp">ニュース</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#product" onclick="handleLinkClick(event, this); closeNavbar();" aria-label="Go to Products Section">
                        <span lang="eng">PRODUCTS</span>
                        <span lang="jp">プロダクト</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about" onclick="handleLinkClick(event, this); closeNavbar();" aria-label="Go to About Us Section">
                        <span lang="eng">ABOUT US</span>
                        <span lang="jp">会社について</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" onclick="handleLinkClick(event, this); closeNavbar();" aria-label="Go to Contact Section">
                        <span lang="eng">CONTACT</span>
                        <span lang="jp">お問合せ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="nav-link">
                        <a href="#" id="englishLink" style="text-decoration: none; cursor: pointer;" class="language desactive_lang" onclick="setLang('eng'); toggleActiveLang('eng'); closeNavbar();">ENG</a>
                        <span class="nav-separator" style=" text-decoration: none; cursor: default;"> / </span>
                        <a href="#" id="japaneseLink" style=" text-decoration: none; cursor: pointer;" class="language desactive_lang" onclick="setLang('jp'); toggleActiveLang('jp'); closeNavbar();">日本語</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>