<div class="main-wrap">
  <section id="intro">
    <div class="featured">
      <div class="wrapper">
        <div class="row-fluid">
          <!-- slider -->
          <div class="span12">
            <div class="topright">
              <button class="btn1" hreflang="jp" onclick="setLang('jp'); return false"></button> 
              <button class="btn3" hreflang="eng" onclick="setLang('eng'); return false"></button>
            </div>  
            <div id="sequence-theme">
              <div id="sequence">
                <img class="prev" src="assets/img/slides/bt-prev.png" alt="Previous Frame" />
                <img class="next" src="assets/img/slides/bt-next.png" alt="Next Frame" />
                <ul>
                  <li class="animate-in">
                    <h2 class="title" ></h2>
                    <h5 class="subtitle" lang = 'jp'></h5>
                    <h5 class="subtitle" lang = 'eng'></h5>
                    <img class="model" src="assets/img/slides/img1.png" alt="" />
                  </li>
                  <li>
                    <h2 class="title"></h2>
                    <h5 class="subtitle" lang="jp"></h5>
                    <h5 class="subtitle" lang="eng"></h5>
                    <img class="model" src="assets/img/slides/img2.png" alt="" />
                  </li>
                  <li>
                    <h2 class="title"></h2>
                    <h5 class="subtitle" lang="jp"></h5>
                    <h5 class="subtitle" lang="eng"></h5>
                    <img class="model" src="assets/img/slides/img3.png" alt="" />
                  </li>
                </ul>
              </div>
              <ul class="nav">
                <li><img src="assets/img/slides/thumb1.png" alt="Thumbnail" /></li>
                <li><img src="assets/img/slides/thumb2.png" alt="Thumbnail" /></li>
                <li><img src="assets/img/slides/thumb3.png" alt="Thumbnail" /></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </section>
</div> 