<Style>
    .news_title
    {
        color: #2b3a83;
        font-family: Roboto, var(--default-font-family);
        font-size: 40px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        padding-bottom:50px ;
        white-space: nowrap;
    }

    .news_date 
    {
        color: #000000;
        font-family: Roboto, var(--default-font-family);
        font-size: 19px;
        font-weight: 400;
        line-height: 30px;
    }
    
    .space
    {
        margin-left: 10px;
    }

    .space_top
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    @media only screen and (max-width: 999px) 
    {
      
        .news_title
        {
            font-size: 38px;
            font-weight: 400;
        }
        .news_date 
        {
            font-size: 20px;
        }
    }

    @media only screen and (max-width: 760px) 
    {
        .space
        {
            margin-left: 0px;
        }
        .news_title
        {
            font-size: 38px;
            font-weight: 400;
        }
        .news_date 
        {
            font-size: 20px;
        }
    }

    @media only screen and (max-width: 699px) 
    {
        .news_title
        {
            font-size: 38px;
            font-weight: 400;
        }
        .news_date 
        {
            font-size: 17px;
        }
    }

</Style>
<section id="news" class="news-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2 news_title">
                <div style="padding-bottom: 20px;border-bottom: 2px solid darkblue;">
                    <span lang="eng">NEWS</span>
                    <span lang="jp">ニュース</span>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-9 ">
                <div id="news-items" class="news-items">
                    {% for item in site.data.news %}
                    <a id="dynamic-link" style="text-decoration: none;" href="{{ item.link_en }}" target="_blank"
                       data-link-en="{{ item.link_en }}" data-link-jp="{{ item.link_jp }}">
                        <div class="row news_date" style="border-bottom:1px solid lightgray;">
                            <div class="col-md-2  space_top d-flex justify-content-center align-items-center">
                                <span>{{ item.date }}</span>
                            </div>
                            
                            <div class="col-md-10  space_top">
                                <span lang="eng" class="eng ">{{ item.title_en }}</span>
                                <span lang="jp" class="jp ">{{ item.title_jp }}</span>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 py-5">
                <div class=" d-flex justify-content-center align-items-center">
                    <button class="less_button" id="toggle-button" class="btn btn-primary" onclick="toggleNews()"> 
                        <span lang="eng">View more</span>
                        <span lang="jp">詳しく見る</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>