<section id="news" class="news-section">
    <div class="container-width">
        <div class="main-width">
            <div class="flex-row-bfa">
                <span class="news">
                    <span lang="eng">NEWS</span> 
                    <span lang="jp">ニュース</span>  
                </span>
                <span class="xponential-expo-mou one">
                    <a lang="eng" href="/news/AICHI_Manufacturing_0910_2024_en.html" target="_blank">
                        <span >2024.09.10</span>
                        <span class="between_space">Press Release</span>
                        <span > Kailas Robotics Selected for Aichi Prefecture’s...</span> 
                    </a>   
                    <a lang="jp" href="/news/AICHI_Manufacturing_0910_2024_jp.html" target="_blank">
                        <span >2024.09.10</span>
                        <span class="between_space">プレスリリース </span>
                        <span> 愛知県の『AICHI Manufacturing Acceleration ... </span>  
                    </a>   
                </span>
                <span class="xponential-expo-mou two">
                    <a lang="eng" href="/news/SHIP-Saitama_0827_2024_en.html" target="_blank">
                        <span >2024.08.06</span>
                        <span class="between_space">Press Release</span>
                        <span > Kailas Robotics Selected for Saitama Prefectu...</span> 
                    </a>   
                    <a lang="jp" href="/news/SHIP-Saitama_0827_2024_jp.html" target="_blank">
                        <span >2024.08.06</span>
                        <span class="between_space">プレスリリース </span>
                        <span> 埼玉県の『SHIP for Funding』支援プログラム... </span>  
                    </a>   
                </span>
                <span class="xponential-expo-mou three">
                    <a lang="eng" href="/news/Japan-US_Research_WK_0805_2024_en.html" target="_blank">
                        <span >2024.08.05</span>
                        <span class="between_space">Press Release</span>
                        <span > Our CSO Yoshi Shiomi delivered a presentation...</span> 
                    </a>   
                    <a lang="jp" href="/news/Japan-US_Research_WK_0805_2024_jp.html" target="_blank">
                        <span >2024.08.05</span>
                        <span class="between_space">プレスリリース </span>
                        <span> Japan-US Research Collaboration WeekにCSO...</span>  
                    </a>   
                </span>
                <span class="xponential-expo-mou four">
                    <a lang="eng" href="/news/IP_granted-Kailas_Release_0422_en.html" target="_blank">
                        <span >2024.04.23 </span>
                        <span class="between_space">Press Release</span>
                        <span > Patent granted : for 6-axis robotic arm</span> 
                    </a>   
                    <a lang="jp" href="/news/IP_granted-Kailas_Release_0422_jp.html" target="_blank">
                        <span >2024.04.23  </span>
                        <span class="between_space">プレスリリース </span>
                        <span> 6軸ロボットアームの基本特許を取得 </span>  
                    </a>   
                </span>
                <span class="xponential-expo-mou five">
                    <a lang="eng" href="/news/XPONENTIAL_2024-Kailas_Release_0423_en.html" target="_blank">
                        <span>2024.04.22 </span>
                        <span class="between_space">Press Release </span>
                        <span> XPONENTIAL EXPO </span> 
                    </a>
                    <a lang="jp" href="/news/XPONENTIAL_2024-Kailas_Release_0423_jp.html" target="_blank">
                        <span>2024.04.22 </span>
                        <span class="between_space">プレスリリース </span>
                        <span > XPONENTIAL 初展示会 </span> 
                    </a>
                </span>
                <span class="xponential-expo-mou six">
                    <a lang="eng" href="/news/MDF_Kailas_Release_0408_en.html" target="_blank">
                        <span>2024.04.08 </span>
                        <span class="between_space">Press Release </span>
                        <span> MD-Farm & MOU</span> 
                    </a>   
                    <a lang="jp" href="/news/MDF_Kailas_Release_0408_jp.html" target="_blank">
                        <span>2024.04.08 </span>
                        <span lang="jp" class="between_space">プレスリリース </span>
                        <span lang="jp"> MD-Farm & MOU</span>  
                    </a>  
                </span>
                <span class="xponential-expo-mou seven">
                    <a lang="eng" href="/news/japan_innovation_campus_20231114_en.html" target="_blank">
                        <span >2024.04.01 </span>
                        <span class="between_space">Press Release</span>
                        <span >
                            Selected for Japan <br class="phone-ssh"> Innovation Campus co-work..
                            <!-- Selected for Japan <br class="phone-ssh"> Innovation Campus co-working -->
                        </span> 
                    </a>   
                    <a lang="jp" href="/news/japan_innovation_campus_20231114_jp.html" target="_blank">
                        <span >2024.04.01 </span>
                        <span class="between_space">プレスリリース </span>
                        <span>
                            Japan Innovation Campus コワーキングへ採択…
                        </span>  
                    </a>   
                </span>
            </div>
        </div>
    </div>

    
    <!-- <div class="flex-row-d">
        <div class="line-9"></div>
        <div class="line-a"></div>
    </div>
    <button class="button">
        <span class="view-more">
            <span lang="eng">View more</span> 
            <span lang="jp">詳しく見る</span>  
        </span>
        <div class="vector-b"></div>
        <div class="vector-c"></div>
    </button> -->
</section>