<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<meta name="description" content="Kailas Roboticsは、精密な制御技術を活かしたロボットアームの開発に特化し、製造、農業、物流などさまざまな業界向けに革新的な自動化ソリューションを提供しています。最先端のロボット技術で効率化を実現します。">

<meta name="keywords" content="robot,robotics,arm,Agriculture,Harvest,cobot,picking,DRONE,UGV,AGV,hight-speed,gripper,SDK,ros,ros2,unity,android,ios,automation,EtherCAT,EtherCAT®,zero,backlash,free,harmonic,drive,harmonic,solution,lightweight,Kailas Robotic, Technology Revolution,Introduction,​Our Solution">

<title>Kailas Robotics INC</title>
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
<meta name="theme-color" content="#478ac9">
<meta property="og:title" content="Home">
<meta property="og:type" content="website">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kailas Robotics INC</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"  type="text/css">
    <link rel="stylesheet" href="assets/css/index.css"/>
    <link rel="stylesheet" href="assets/css/300.css"/>
    <link rel="stylesheet" href="assets/css/400.css"/>
    <link rel="stylesheet" href="assets/css/500.css"/>
    <link rel="stylesheet" href="assets/css/600.css"/>
    <link rel="stylesheet" href="assets/css/700.css"/>
    <link rel="stylesheet" href="assets/css/800.css"/>
    <link rel="stylesheet" href="assets/css/1000.css"/>
    <link rel="stylesheet" href="assets/css/1100.css"/>
    <link rel="stylesheet" href="assets/css/1200.css"/>
    <link rel="stylesheet" href="assets/css/1300.css"/>
    <link rel="stylesheet" href="assets/css/1400.css"/>
    <link rel="stylesheet" href="assets/css/1500.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
</head>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": ""
}</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GMW72BQ71V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GMW72BQ71V');
</script>
