 .u-section-1 {
  min-height: 755px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

/*.u-section-1 .u-image-1 {
  min-height: 755px;
  background: url("../img/images/header_kailash.jpg");
  background-position: 50% 50%;
}*/

.u-section-1 .u-image-1 {
  min-height: 755px;
  position: relative; /* Needed for absolute positioning of pseudo-element */
}

.u-section-1 .u-image-1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3); /* White color with 90% transparency */
}

.u-section-1 .u-image-1 {
  background: url("../img/images/kailash_header.jpg");
  background-position: 30% 50%;
  background-size: cover; /* Adjust as needed 
  background-repeat: no-repeat;*/
}

.u-section-1 .u-image-2 {
  min-height: 841px;
  background-image: url("../img/images/drone_1.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 723px;
  min-height: 503px;
  height: auto;
  margin: 201px auto 0 -99px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 13px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 81px 23px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 716px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 716px;
    background-position: 49.11% 50%;
  }

  .u-section-1 .u-image-2 {
    min-height: 716px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    width: 552px;
    margin-left: -76px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 38px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 652px;
  }

  .u-section-1 .u-image-1 {
    min-height: 652px;
    background-position: 55.65% 50%;
  }

  .u-section-1 .u-image-2 {
    min-height: 652px;
  }

  .u-section-1 .u-group-1 {
    width: 423px;
    min-height: 480px;
    margin-top: 86px;
    margin-bottom: 65px;
    margin-left: -63px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 107px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 624px;
  }

  .u-section-1 .u-image-1 {
    min-height: 554px;
    background-position: 0% 50%;
  }

  .u-section-1 .u-image-2 {
    min-height: 570px;
    background-position: 100% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 388px;
    margin-top: 64px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 77px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 46px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 443px;
  }

  .u-section-1 .u-image-2 {
    min-height: 615px;
  }

  .u-section-1 .u-group-1 {
    width: 373px;
    min-height: 414px;
    margin-top: 201px;
    margin-left: 14px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-left: 12px;
  }
} .u-section-2 {

  min-height: 500px;
}

.u-section-2 .u-image-1 {
  width: 257px;
  height: 471px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  margin: 285px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1440px;
  margin: 0 auto 0 calc(((100% - 1440px) / 2) + -1px);
}

.u-section-2 .u-layout-cell-1 {
  min-height: 687px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 68px;
  padding-right: 25px;
}

.u-section-2 .u-container-layout-specs {
      padding-left: 30%;
  padding-right: 10px;
}

.u-section-2 .u-text-1 {
  font-size: 1.75rem;
  font-weight: normal;
  margin: 94px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 25px 0 0;
}

.ros {
  background-image: url('../img/images/back_2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100px; 
}



.centered-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600; 
    font-size: 55px; 
}


.u-section-2 .u-image-2 {
  min-height: 870px;
  background-image: url("../img/images/drone_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.u-section-2 .u-image-3 {
  min-height: 750px;
  background-image:  url("../img/images/arm1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.u-section-2 .u-image-4 {
  min-height: 750px;
  background-image:  url("../img/images/arm2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.u-section-2 .u-image-5 {
  min-height: 500;
  background-image:  url("../img/images/arm3.jpg");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.u-section-2 .u-image-6 {
  min-height: 500;
  background-image:  url("../img/images/arm5.png");
/*  background-size: cover;*/
  background-position: center;
/*  background-repeat: no-repeat;*/
}

.u-section-2 .u-image-7 {
  min-height: 500;
  background-image:  url("../img/images/arm6.png");
/*  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
}

.u-section-2 .u-image-en {
  min-height: 500;
  background-image:  url("../img/images/en_map.png");
/*   background-size: cover;*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
}

.u-section-2 .u-image-jp {
  min-height: 500;
  background-image:  url("../img/images/jp_map.png");
/*   background-size: cover;*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
}

.u-section-2 .u-layout-wrap-2 {
  width: 1211px;
  margin: 7px auto 0 calc(((100% - 1211px) / 2) + -23px);
}

.u-section-2 .u-layout-cell-3 {
  min-height: 285px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 62px 20px;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 41px 78px 0 29px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 58px 50px 0 41px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 2117px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-2 .u-image-2 {
    min-height: 566px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-bottom: 60px;
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 212px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 7px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 945px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 727px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 434px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1075px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 610px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-bottom: 0;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1200px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .u-section-2 .u-image-2 {
    min-height: 384px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 370px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 25px;
  }
}