<section id="news" class="news-section">
    <div class="flex-row-bfa">
        <span class="news">
            <span lang="eng">NEWS</span> 
            <span lang="jp">ニュース</span>  
        </span>
        <span class="xponential-expo-mou one">
            <span>2024.04.22 </span>

            <span lang="eng" class="between_space">pre-release </span>
            <span lang="jp" class="between_space">プレリリース </span>

            <span lang="eng"> XPONENTIAL EXPO </span> 
            <span lang="jp"> XPONENTIAL 初展示会 </span>  
        </span>

        <span class="xponential-expo-mou two">
            <span>2024.04.08 </span>

            <span lang="eng" class="between_space">pre-release </span>
            <span lang="jp" class="between_space">プレリリース </span>

            <span lang="eng"> MD-Farm & MOU</span> 
            <span lang="jp"> MD-Farm & MOU</span>  
        </span>

        <span class="xponential-expo-mou three">
            <span >2024.04.01 </span>

            <span lang="eng" class="between_space">pre-release</span>
            <span lang="jp" class="between_space">プレリリース </span>

            <span lang="eng">Selected for Japan <br class="phone"> Innovation Campus co-working
            </span> 
            <span lang="jp">
                Japan Innovation Campus コワーキングへ採択…
            </span>  
        </span>
    </div>
    <!-- <div class="flex-row-d">
        <div class="line-9"></div>
        <div class="line-a"></div>
    </div>
    <button class="button">
        <span class="view-more">
            <span lang="eng">View more</span> 
            <span lang="jp">詳しく見る</span>  
        </span>
        <div class="vector-b"></div>
        <div class="vector-c"></div>
    </button> -->
</section>