<div  id="product" class="rectangle-d">
    <span class="products-e">
        <span lang="eng">PRODUCTS</span> 
        <span lang="jp">商品</span>  
    </span>
</div>
<!-- windows  html -->
<section  class="product-section windows">
    
    <div class="robotics">
        <div class="rectangle-f">
            <div class="grid-container">
                <div class="grid-item"></div>

                <div class="grid-item">
                    <div class="screenshot"></div>
                </div>

                <div class="grid-item">
                    <span class="robotic-arms">Robotic Arms for <br />Moving Platform</span>
                    <span class="axis-info">
                        6 axis<br />30cm x 20cm<br />2.5kg<br />1kg<br />Ubuntu<br />ROS2,Unity, iOS, Android<br />24V<br />Ethercat
                    </span> 
                    <span class="axis-info-10">
                        <span lang="eng">Axis:<br />Size:<br />Weight:<br />Max Payloard:<br />
                            <br />OS:<br />Control:<br />Power:<br />Communication:</span> 
                        <span lang="jp">Axis:<br> サイズ: <br />重さ: <br />Max Payloard:<br />OS:<br />コントロール:<br />パワー:<br />コミュニケーション:</span>  
                    </span>
                </div>

                <div class="grid-item"></div>

            </div>   
        </div>
    </div>  

    <div class="grid-container-product">
        <div class="grid-item"></div>
        <div class="grid-item">
            <span class="ultra-light-weight">
                <span lang="eng">Ultra Light Weight &<br />Precise Control</span> 
                <span lang="jp">超軽量 &<br>正確なコントロール</span>  
            </span>
            <span class="ultra-light-weight-12">
                <span lang="eng"> 
                    Our robotic arm, with a total system weight of approximately 2.5kg,
                    is lightweight and capable of automatic recognition and catching of
                    objects through its vision system. It can accurately catch targets
                    even while moving on unstable platforms such as drones. This robotic
                    arm defies conventional wisdom, requiring no solid base, and
                    represents a lightweight yet high-speed and precise technology.
                </span> 
                <span lang="jp"> 
                    ロボットアームのシステム全体重量が約2.5kgと軽量、且つ、ビジョンシステムによる対象物の自動認識、
                    自動キャッチが可能となっており、ドローンのような不安定なプラットフォーム上で移動中でも正確に対象物をキャッチすることができます。
                    これまでロボットアームの常識を覆す、強固な土台を必要としない軽量且つ高速正確なロボットアームです。
                </span>                
            </span>
        </div>
        <div class="grid-item-image-1">
            <div class="screenshot-11"></div>
        </div>
        <div class="grid-item"></div>
    </div>

    <div class="grid-container-product line" >
        <div class="grid-item-image-1"></div>
    </div>
    
    <div class="grid-container-product">
        <div class="grid-item"></div>
        <div class="grid-item-image-2 ">
            <div class="screenshot-14"></div>
        </div>
        <div class="grid-item ">
            <span class="key-technology">
                <span lang="eng">Key Technology</span> 
                <span lang="jp">キーテクノロジー</span>  
            </span>
            <span class="key-technology-15">
                <span lang="eng">
                    From the design phase of the logic board, <br />we planned and
                    achieved miniaturization and weight reduction, enabling high-speed
                    computations. When mounted on mobile platforms such as drones (UAVs)
                    or Unmanned Ground Vehicles (UGVs), it allows for the catching of
                    objects while in motion. <br />(Patent Granted)
                </span> 
                <span lang="jp">
                    ロジックボードの設計段階から小型軽量化を計画し実現したことで、
                    高速な計算が可能となり、ドローンやUGVのような移動体に搭載した場合でも、
                    移動しながら対象物のキャッチが可能。<br>(特許申請中)
                </span>  
            </span>
        </div> 
        <div class="grid-item"></div>   
    </div>
 
    <div class="grid-container-product line" >
        <div class="grid-item-image-1"></div>
    </div>

    <div class="grid-container-product">
        <div class="grid-item" ></div>
        <div class="grid-item">
            <span class="versatile">
                <span lang="eng">Versatile</span> 
                <span lang="jp">多用途</span>  
            </span>
            <span class="versatile-18">
                <span lang="eng">
                    Due to the entire system weighing approximately 2.5kg, its
                    lightweight nature makes it versatile for a wide array of
                    applications: from UAVs and UGVs, humanoid robots, to combining with
                    prosthetics or AR for physical augmentation, the possibilities are
                    endless. For instance, mounted on drones, it can easily perform remote
                    sample collection, hazardous material handling, or debris removal from
                    solar panels. Additionally, it is also readily integrated into
                    harvesting robots in farms where there is a shortage of labor.
                </span> 
                <span lang="jp">
                    全体システムが約2.5kgと軽量なため、ドローンなどのUAVやUGV、
                    人型ロボット(Humanoid)から、義手やARなどと組み合わせた人体拡張など、
                    その可能性は無限大です。例えば、ドローンに搭載し、遠隔地からのサンプル採取や危険物処理、
                    ソーラーパネルの異物除去なども容易に行えます。また、人手不足が叫ばれる農場での収穫作業ロボットへの組み込みなども容易です。
                </span>  
            </span>
        </div>
        <div class="grid-item-image-1">
            <div class="screenshot-17"></div>
        </div>
        <div class="grid-item" ></div>
    </div>

    <div class="grid-container-product line" >
        <div class="grid-item-image-1"></div>
    </div>

    <div class="grid-container-product">
        <div class="grid-item" ></div>
        <div class="grid-item">
            <div class="screenshot-1a"></div>
        </div>
        <div class="grid-item-image-2">
            <span class="modular-system-sdk-ready">
                <span lang="eng">Modular System & <br/>SDK ready</span> 
                <span lang="jp">モジュラーシステム& <br/>SDKに対応</span>  
            </span>
            <span class="interchangeable-customization-sdk">
                <span lang="eng">
                    The gripper is designed to be interchangeable, allowing for
                    customization to suit various materials from soft to hard, tailored to
                    the specific objects customers need to catch. Additionally, by
                    utilizing our SDK, it is possible to develop applications aligned with
                    your specific tasks. We also offer further customization, such as
                    motor adjustments, to accommodate the weight of the target objects.
                    <br />Please feel free to contact us for any inquiries.
                </span> 
                <span lang="jp">
                    拡張性とカスタマイズグリッパは交換可能となっており、
                    ソフトなものからハードなものまでお客様のキャッチしたい対象物に合わせてロボットアームのグリッパをカスタマイズできます。
                    また、SDKを利用することでお客様のタスクに合わせたアプリケーション開発も可能です。
                    その他、対象物の重量に合わせてモーターカスタマイズなども別途承ります。
                    お気軽にお問い合わせください。
                </span> 
            </span>
        </div>
        <div class="grid-item" ></div>
    </div>

    <div class="grid-container-product line" >
        <div class="grid-item-image-1"></div>
    </div>
    
    <div class="grid-container-product">
        <div class="grid-item" ></div>
        <div class="grid-item">
            <span class="ros-unity-ios-android">ROS2, Unity<br />iOS, Android</span>
            <span class="ros2-unity-ios-android">
                <span lang="eng">
                    Thanks to the control provided by ROS2, we are able to expand various
                    functionalities to meet the needs of our customers.<br />In executing
                    tasks, we have established a simulated environment on Unity, enabling
                    arm control on iOS devices such as iPads and iPhones, as well as on
                    Android devices
                </span> 
                <span lang="jp">
                    ROS2により全体を制御しているためお客様のニーズにあわせて様々な機能を拡張することが可能です。<br />
                    タスクを実行するにあたりUnity上でシミュレート環境を構築できるため、
                    iPadやiPhoneなどのiOSデバイスやAndroidデバイスでアームのコントロールを可能にしています。
                </span> 
            </span>
        </div>
        <div class="grid-item-image-1">
            <div class="image"></div>
        </div>
        <div class="grid-item"></div>
    </div>
</section>

<!-- phone  html -->
<section  class="product-section phone">
    <div class="robotics">
        <div class="rectangle-f">
            <div class="grid-container">
                <div class="grid-item"></div>
                <div class="grid-item">
                    <div class="screenshot"></div>
                </div>
                <div class="grid-item">
                    <span class="robotic-arms">Robotic Arms for <br />Moving Platform</span>
                    <span class="axis-info">
                        6 axis<br />30cm x 20cm<br />2.5kg<br />1kg<br />Ubuntu<br />ROS2,
                        Unity, iOS, Android<br />24V<br />Ethercat
                    </span>
                    <span class="axis-info-10">
                        <span lang="eng">Axis:<br />Size:<br />Weight:<br />Max Payloard:<br />OS:<br />Control:<br />Power:<br />Communication:</span> 
                        <span lang="jp">Axis:<br> サイズ: <br />重さ: <br />Max Payloard:<br />OS:<br />コントロール:<br />パワー:<br />コミュニケーション:</span>  
                    </span>
                </div>
                <div class="grid-item"></div>
            </div>   
        </div>
    </div>  
    <div class="grid-container-product">
        <div class="grid-item"></div>
        <div class="grid-item-image-1">
            <div class="screenshot-11"></div>
        </div>
        <div class="grid-item">
            <span class="ultra-light-weight">
                <span lang="eng">Ultra Light Weight &<br />Precise Control</span> 
                <span lang="jp">超軽量 &<br>正確なコントロール</span>  
            </span>
            <span class="ultra-light-weight-12">
                <span lang="eng"> 
                    Our robotic arm, with a total system weight of approximately 2.5kg,
                    is lightweight and capable of automatic recognition and catching of
                    objects through its vision system. It can accurately catch targets
                    even while moving on unstable platforms such as drones. This robotic
                    arm defies conventional wisdom, requiring no solid base, and
                    represents a lightweight yet high-speed and precise technology.
                </span> 
                <span lang="jp"> 
                    ロボットアームのシステム全体重量が約2.5kgと軽量、且つ、ビジョンシステムによる対象物の自動認識、
                    自動キャッチが可能となっており、ドローンのような不安定なプラットフォーム上で移動中でも正確に対象物をキャッチすることができます。
                    これまでロボットアームの常識を覆す、強固な土台を必要としない軽量且つ高速正確なロボットアームです。
                </span>                
            </span>
        </div>
        <div class="grid-item"></div>
    </div>
    <div class="grid-container-product line">
        <div class="grid-item-image-1" ></div>
    </div>
    <div class="grid-container-product">
        <div class="grid-item"></div>
        <div class="grid-item-image-2 ">
            <div class="screenshot-14"></div>
        </div>
        <div class="grid-item ">
            <span class="key-technology">
                <span lang="eng">Key Technology</span> 
                <span lang="jp">キーテクノロジー</span>  
            </span>
            <span class="key-technology-15">
                <span lang="eng">
                    From the design phase of the logic board, <br />we planned and
                    achieved miniaturization and weight reduction, enabling high-speed
                    computations. When mounted on mobile platforms such as drones (UAVs)
                    or Unmanned Ground Vehicles (UGVs), it allows for the catching of
                    objects while in motion. <br />(Patent Granted)
                </span> 
                <span lang="jp">
                    ロジックボードの設計段階から小型軽量化を計画し実現したことで、
                    高速な計算が可能となり、ドローンやUGVのような移動体に搭載した場合でも、
                    移動しながら対象物のキャッチが可能。<br>(特許申請中)
                </span>  
            </span>
        </div> 
        <div class="grid-item"></div>   
    </div>
    <div class="grid-container-product line">
        <div class="grid-item-image-1"></div>
    </div>
    <div class="grid-container-product">
        <div class="grid-item" ></div>
        <div class="grid-item-image-1">
            <div class="screenshot-17"></div>
        </div>
        <div class="grid-item">
            <span class="versatile">
                <span lang="eng">Versatile</span> 
                <span lang="jp">多用途</span>  
            </span>
            <span class="versatile-18">
                <span lang="eng">
                    Due to the entire system weighing approximately 2.5kg, its
                    lightweight nature makes it versatile for a wide array of
                    applications: from UAVs and UGVs, humanoid robots, to combining with
                    prosthetics or AR for physical augmentation, the possibilities are
                    endless. For instance, mounted on drones, it can easily perform remote
                    sample collection, hazardous material handling, or debris removal from
                    solar panels. Additionally, it is also readily integrated into
                    harvesting robots in farms where there is a shortage of labor.
                </span> 
                <span lang="jp">
                    全体システムが約2.5kgと軽量なため、ドローンなどのUAVやUGV、
                    人型ロボット(Humanoid)から、義手やARなどと組み合わせた人体拡張など、
                    その可能性は無限大です。例えば、ドローンに搭載し、遠隔地からのサンプル採取や危険物処理、
                    ソーラーパネルの異物除去なども容易に行えます。また、人手不足が叫ばれる農場での収穫作業ロボットへの組み込みなども容易です。
                </span>  
            </span>
        </div>
        <div class="grid-item" ></div>
    </div>
    <div class="grid-container-product line" >
        <div class="grid-item-image-1"></div>
    </div>
    <div class="grid-container-product">
        <div class="grid-item" ></div>
        <div class="grid-item">
            <div class="screenshot-1a"></div>
        </div>
        <div class="grid-item-image-2">
            <span class="modular-system-sdk-ready">
                <span lang="eng">Modular System & <br/>SDK ready</span> 
                <span lang="jp">モジュラーシステム& <br/>SDKに対応</span>  
            </span>
            <span class="interchangeable-customization-sdk">
                <span lang="eng">
                    The gripper is designed to be interchangeable, allowing for
                    customization to suit various materials from soft to hard, tailored to
                    the specific objects customers need to catch. Additionally, by
                    utilizing our SDK, it is possible to develop applications aligned with
                    your specific tasks. We also offer further customization, such as
                    motor adjustments, to accommodate the weight of the target objects.
                    <br />Please feel free to contact us for any inquiries.
                </span> 
                <span lang="jp">
                    拡張性とカスタマイズグリッパは交換可能となっており、
                    ソフトなものからハードなものまでお客様のキャッチしたい対象物に合わせてロボットアームのグリッパをカスタマイズできます。
                    また、SDKを利用することでお客様のタスクに合わせたアプリケーション開発も可能です。
                    その他、対象物の重量に合わせてモーターカスタマイズなども別途承ります。
                    お気軽にお問い合わせください。
                </span> 
            </span>
        </div>
        <div class="grid-item" ></div>
    </div>
    <div class="grid-container-product line" >
        <div class="grid-item-image-1"></div>
    </div>
    <div class="grid-container-product">
        <div class="grid-item" ></div>
        <div class="grid-item-image-1">
            <div class="image"></div>
        </div>
        <div class="grid-item">
            <span class="ros-unity-ios-android">ROS2, Unity<br />iOS, Android</span>
            <span class="ros2-unity-ios-android">
                <span lang="eng">
                    Thanks to the control provided by ROS2, we are able to expand various
                    functionalities to meet the needs of our customers.<br />In executing
                    tasks, we have established a simulated environment on Unity, enabling
                    arm control on iOS devices such as iPads and iPhones, as well as on
                    Android devices
                </span> 
                <span lang="jp">
                    ROS2により全体を制御しているためお客様のニーズにあわせて様々な機能を拡張することが可能です。<br />
                    タスクを実行するにあたりUnity上でシミュレート環境を構築できるため、
                    iPadやiPhoneなどのiOSデバイスやAndroidデバイスでアームのコントロールを可能にしています。
                </span> 
            </span>
        </div>
        <div class="grid-item"></div>
    </div>
</section>
