<div  id="product" class="rectangle-d">
    <span class="products-e">
        <span lang="eng">PRODUCTS</span> 
        <span lang="jp">プロダクト</span>  
    </span>
</div>
<!-- windows  html -->
<section  class="product-section windows">
   
    <div class="robotics">
        <div class="main-width">
            <div class="rectangle-f">
                <div class="grid-container">
                    <div class="grid-item"></div>

                    <div class="grid-item">
                        <div class="w3-content w3-content-heigth">
                            <img class="mySlides" src="../assets/images/slide/1.png"   style="width:100%">
                            <img class="mySlides" src="../assets/images/slide/2.png"  style="width:100%">
                            <img class="mySlides"src="../assets/images/slide/3.png"  style="width:100%">
                            <img class="mySlides"src="../assets/images/slide/4.png"  style="width:100%">
                        </div>
                        
                        <div class="w3-center">
                            <button class="w3-button slideimage " onclick="currentDiv(1)"><span style="color: transparent;">1</span></button> 
                            <button class="w3-button slideimage " onclick="currentDiv(2)"><span style="color: transparent;">2</span></button> 
                            <button class="w3-button slideimage " onclick="currentDiv(3)"><span style="color: transparent;">3</span></button> 
                            <button class="w3-button slideimage " onclick="currentDiv(4)"><span style="color: transparent;">4</span></button> 
                        </div>
                            <!-- <div class="screenshot"></div> -->
                    </div>

                    <div class="grid-item">
                        <span class="robotic-arms">Robotic Arms for <br />Moving Platforms</span>
                        <table class="table-info">

                            <tbody>
                            <tr>
                                <th scope="row">
                                    <span class="axis-info-10">
                                        <span>Axis:</span>
                                    </span>
                                </th>
                                <td>
                                    <span class="axis-info">
                                        6 axis
                                    </span> 
                                </td>
                                
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="axis-info-10">
                                        <span lang="eng">Size:</span> 
                                        <span lang="jp">サイズ:</span>  
                                    </span>
                                </th>
                                <td>
                                    <span class="axis-info">
                                    30cm x 20cm
                                    </span> 
                                </td>
                            
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="axis-info-10">
                                        <span lang="eng">Weight:</span> 
                                        <span lang="jp">重さ: </span>  
                                    </span>
                                </th>
                                <td>
                                    <span class="axis-info">
                                        2.5kg
                                    </span> 
                                </td>
                                
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="axis-info-10">
                                        <span >Max Payload:</span> 
                                    </span>
                                </th>
                                <td>
                                    <span class="axis-info">
                                        1kg
                                    </span> 
                                </td>
                            
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="axis-info-10">
                                        <span>OS:</span> 
                                    </span>
                                </th>
                                <td>
                                    <span class="axis-info">
                                        Ubuntu
                                    </span> 
                                </td>
                            
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="axis-info-10">
                                        <span lang="eng">Control:</span> 
                                        <span lang="jp">コントロール:</span>  
                                    </span>
                                </th>
                                <td>
                                    <span class="axis-info">
                                        ROS2,Unity, iOS, Android
                                    </span> 
                                </td>
                            
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="axis-info-10">
                                        <span lang="eng">Power:</span> 
                                        <span lang="jp">パワー:</span>  
                                    </span>
                                </th>
                                <td>
                                    <span class="axis-info">
                                        24V
                                    </span> 
                                </td>
                            
                            </tr>
                            <tr>
                                <th scope="row">
                                    <span class="axis-info-10">
                                        <span lang="eng">Communication:</span> 
                                        <span lang="jp">コミュニケーション:</span>  
                                    </span>
                                </th>
                                <td>
                                    <span class="axis-info">
                                        Ethercat
                                    </span> 
                                </td>
                            
                            </tr>
                            </tbody>
                            
                        </table>
                        <!-- <span class="axis-info">
                            6 axis<br />30cm x 20cm<br />2.5kg<br />1kg<br />Ubuntu<br />ROS2,Unity, iOS, Android<br />24V<br />Ethercat
                        </span>  -->
                        <!-- <span class="axis-info-10">
                            <span lang="eng">Axis:<br />Size:<br />Weight:<br />Max Payloard:<br />
                                <br />OS:<br />Control:<br />Power:<br />Communication:</span> 
                            <span lang="jp">Axis:<br> サイズ: <br />重さ: <br />Max Payloard:<br />OS:<br />コントロール:<br />パワー:<br />コミュニケーション:</span>  
                        </span> -->
                    </div>

                    <div class="grid-item"></div>

                </div>   
            </div>
        </div>    
    </div>  
    <div class="container-width">
        <div class="main-width">
            <div class="grid-container-product">
                <div class="grid-item"></div>
                <div class="grid-item-left">
                    <span class="ultra-light-weight">
                        <span lang="eng">Ultra Light Weight &<br />Precise Control</span> 
                        <span lang="jp">超軽量 &正確なコントロール</span>  
                    </span>
                    <span class="ultra-light-weight-12">
                        <span lang="eng"> 
                            Our robotic arm, with a total system weight of approximately 5.5lbs,
                            is lightweight and capable of automatic recognition and catching of
                            objects through its vision system. It can accurately catch targets
                            even while moving on unstable platforms such as drones. This robotic
                            arm defies conventional wisdom, requiring no solid base, and
                            represents a lightweight yet high-speed and precise technology.
                        </span> 
                        <span lang="jp"> 
                            ロボットアームのシステム全体重量が約2.5kgと軽量、且つ、ビジョンシステムによる対象物の自動認識、
                            自動キャッチが可能となっており、ドローンのような不安定なプラットフォーム上で移動中でも正確に対象物をキャッチすることができます。
                            これまでロボットアームの常識を覆す、強固な土台を必要としない軽量且つ高速正確なロボットアームです。
                        </span>                
                    </span>
                </div>
                <div class="grid-item-image-1">
                    <div class="ultra">
                        <img src="../assets/images/94a7fcfdba8eca136d9a0272b2a780e6.jpg" />
                    </div>
                </div>
                <div class="grid-item"></div>
            </div>

            <div class="grid-container-product line" >
                <div class="grid-item-image-1"></div>
            </div>
            
            <div class="grid-container-product">
                <div class="grid-item"></div>
               
                    <div class="key-image">
                        <img src="../assets/images/33bbaf21a19c6cbb9509b99c005fdfe2.jpg" />
                    </div>
              
                <div class="grid-item-image-2"> 
                    
                    <span class="key-technology">
                        <span >Key Technologies</span> 
                    </span>
                    <span class="key-technology-15">
                        <span lang="eng">
                            From the design phase of the logic board, <br />we planned and
                            achieved miniaturization and weight reduction, enabling high-speed
                            computations. When mounted on mobile platforms such as drones (UAVs)
                            or Unmanned Ground Vehicles (UGVs), it allows for the catching of
                            objects while in motion. <br />(Patent Granted)
                        </span> 
                        <span lang="jp">
                            ロジックボードの設計段階から小型軽量化を計画し実現したことで、
                            高速な計算が可能となり、ドローンやUGVのような移動体に搭載した場合でも、
                            移動しながら対象物のキャッチが可能。<br>(特許申請中)
                        </span>  
                    </span>
                </div>    
                <div class="grid-item"></div>   
            </div>
        
            <div class="grid-container-product line" >
                <div class="grid-item-image-1"></div>
            </div>

            <div class="grid-container-product">
                <div class="grid-item" ></div>
                <div class="grid-item">
                    <span class="versatile">
                        <span lang="eng">Versatile</span> 
                        <span lang="jp">様々な用途に対応</span>  
                    </span>
                    <span class="versatile-18">
                        <span lang="eng">
                            Due to the entire system weighing approximately 5.5lbs, its
                            lightweight nature makes it versatile for a wide array of
                            applications: from UAVs and UGVs, humanoid robots, to combining with
                            prosthetics or AR for physical augmentation, the possibilities are
                            endless. For instance, mounted on drones, it can easily perform remote
                            sample collection, hazardous material handling, or debris removal from
                            solar panels. Additionally, it is also readily integrated into
                            harvesting robots in farms where there is a shortage of labor.
                        </span> 
                        <span lang="jp">
                            全体システムが約2.5kgと軽量なため、ドローンなどのUAVやUGV、
                            人型ロボット(Humanoid)から、義手やARなどと組み合わせた人体拡張など、
                            その可能性は無限大です。例えば、ドローンに搭載し、遠隔地からのサンプル採取や危険物処理、
                            ソーラーパネルの異物除去なども容易に行えます。また、人手不足が叫ばれる農場での収穫作業ロボットへの組み込みなども容易です。
                        </span>  
                    </span>
                </div>
                <div class="grid-item-image-1">
                    <div class="grid-item-image-2 ">
                        <div class="versatile-image">
                            <img src="../assets/images/1dc056161b6d7080affe5f37cff7c1a0.jpg" />
                        </div>
                    </div>
                </div>
                <div class="grid-item" ></div>
            </div>

            <div class="grid-container-product line" >
                <div class="grid-item-image-1"></div>
            </div>

            <div class="grid-container-product">
                <div class="grid-item" ></div>
                <div class="grid-item">
                    <div class="screenshot-1a"></div>
                </div>
                <div class="grid-item-image-2">
                    <span class="modular-system-sdk-ready">
                        <span lang="eng">Modular System & <br/>SDK ready</span> 
                        <span lang="jp">モジュラーシステム& <br/>SDKに対応</span>  
                    </span>
                    <span class="interchangeable-customization-sdk">
                        <span lang="eng">
                            The gripper is designed to be interchangeable, allowing for
                            customization to suit various materials from soft to hard, tailored to
                            the specific objects customers need to catch. Additionally, by
                            utilizing our SDK, it is possible to develop applications aligned with
                            your specific tasks. We also offer further customization, such as
                            motor adjustments, to accommodate the weight of the target objects.
                            <br />Please feel free to contact us for any inquiries.
                        </span> 
                        <span lang="jp">
                            拡張性とカスタマイズグリッパは交換可能となっており、
                            ソフトなものからハードなものまでお客様のキャッチしたい対象物に合わせてロボットアームのグリッパをカスタマイズできます。
                            また、SDKを利用することでお客様のタスクに合わせたアプリケーション開発も可能です。
                            その他、対象物の重量に合わせてモーターカスタマイズなども別途承ります。
                            お気軽にお問い合わせください。
                        </span> 
                    </span>
                </div>
                <div class="grid-item" ></div>
            </div>

            <div class="grid-container-product line" >
                <div class="grid-item-image-1"></div>
            </div>
            
            <div class="grid-container-product">
                <div class="grid-item" ></div>
                <div class="grid-item">
                    <span class="ros-unity-ios-android">ROS2, Unity<br />iOS, Android</span>
                    <span class="ros2-unity-ios-android">
                        <span lang="eng">
                            Thanks to the control provided by ROS2, we are able to expand various
                            functionalities to meet the needs of our customers.<br />In executing
                            tasks, we have established a simulated environment on Unity, enabling
                            arm control on iOS devices such as iPads and iPhones, as well as on
                            Android devices
                        </span> 
                        <span lang="jp">
                            ROS2により全体を制御しているためお客様のニーズにあわせて様々な機能を拡張することが可能です。<br />
                            タスクを実行するにあたりUnity上でシミュレート環境を構築できるため、
                            iPadやiPhoneなどのiOSデバイスやAndroidデバイスでアームのコントロールを可能にしています。
                        </span> 
                    </span>
                </div>
                <div class="grid-item-image-1">
                    <div class="image"></div>
                </div>
                <div class="grid-item"></div>
            </div>

        </div>   
    </section>

    <!-- phone  html -->
    <section  class="product-section phone">
        <div class="robotics">
            <div class="main-width">
                <div class="rectangle-f">
                    <div class="grid-container">
                        <div class="grid-item"></div>
    
                        <div class="grid-item">
    
                            <div class="w3-content w3-content-heigth" >
                                <img class="mySlidess" src="../assets/images/slide/1.png"   style="margin-top: 66px;
                                width: 155px;
                                display: block;">
                                <img class="mySlidess" src="../assets/images/slide/2.png"  style="margin-top: 66px;
                                width: 155px;
                                display: block;">
                                <img class="mySlidess"src="../assets/images/slide/3.png"  style="margin-top: 66px;
                                width: 155px;
                                display: block;">
                                <img class="mySlidess"src="../assets/images/slide/4.png"  style="margin-top: 66px;
                                width: 155px;
                                display: block;">
                            </div>
                            
                            <div class="w3-center">
                                <button class="w3-button slideimages " onclick="currentDiv1(1)"><span style="color: transparent;">1</span></button> 
                                <button class="w3-button slideimages " onclick="currentDiv1(2)"><span style="color: transparent;">2</span></button> 
                                <button class="w3-button slideimages " onclick="currentDiv1(3)"><span style="color: transparent;">3</span></button> 
                                <button class="w3-button slideimages " onclick="currentDiv1(4)"><span style="color: transparent;">4</span></button> 
                            </div>
                                <!-- <div class="screenshot"></div> -->
                        </div>
    
                        <div class="grid-item">
                            <span class="robotic-arms">Robotic Arms for <br />Moving Platforms</span>
                            <table class="table-info">
    
                                <tbody>
                                <tr>
                                    <th scope="row">
                                        <span class="axis-info-10">
                                            <span>Axis:</span>
                                        </span>
                                    </th>
                                    <td>
                                        <span class="axis-info">
                                            6 axis
                                        </span> 
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="axis-info-10">
                                            <span lang="eng">Size:</span> 
                                            <span lang="jp">サイズ:</span>  
                                        </span>
                                    </th>
                                    <td>
                                        <span class="axis-info">
                                        30cm x 20cm
                                        </span> 
                                    </td>
                                
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="axis-info-10">
                                            <span lang="eng">Weight:</span> 
                                            <span lang="jp">重さ: </span>  
                                        </span>
                                    </th>
                                    <td>
                                        <span class="axis-info">
                                            2.5kg
                                        </span> 
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="axis-info-10">
                                            <span >Max Payload:</span> 
                                        </span>
                                    </th>
                                    <td>
                                        <span class="axis-info">
                                            1kg
                                        </span> 
                                    </td>
                                
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="axis-info-10">
                                            <span>OS:</span> 
                                        </span>
                                    </th>
                                    <td>
                                        <span class="axis-info">
                                            Ubuntu
                                        </span> 
                                    </td>
                                
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="axis-info-10">
                                            <span lang="eng">Control:</span> 
                                            <span lang="jp">コントロール:</span>  
                                        </span>
                                    </th>
                                    <td>
                                        <span class="axis-info">
                                            ROS2,Unity, iOS, <br>Android
                                        </span> 
                                    </td>
                                
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="axis-info-10">
                                            <span lang="eng">Power:</span> 
                                            <span lang="jp">パワー:</span>  
                                        </span>
                                    </th>
                                    <td>
                                        <span class="axis-info">
                                            24V
                                        </span> 
                                    </td>
                                
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="axis-info-10">
                                            <span lang="eng">Communication:</span> 
                                            <span lang="jp">コミュニケーション:</span>  
                                        </span>
                                    </th>
                                    <td>
                                        <span class="axis-info">
                                            Ethercat
                                        </span> 
                                    </td>
                                
                                </tr>
                                </tbody>
                                
                            </table>
                            <!-- <span class="axis-info">
                                6 axis<br />30cm x 20cm<br />2.5kg<br />1kg<br />Ubuntu<br />ROS2,Unity, iOS, Android<br />24V<br />Ethercat
                            </span>  -->
                            <!-- <span class="axis-info-10">
                                <span lang="eng">Axis:<br />Size:<br />Weight:<br />Max Payloard:<br />
                                    <br />OS:<br />Control:<br />Power:<br />Communication:</span> 
                                <span lang="jp">Axis:<br> サイズ: <br />重さ: <br />Max Payloard:<br />OS:<br />コントロール:<br />パワー:<br />コミュニケーション:</span>  
                            </span> -->
                        </div>
    
                        <div class="grid-item"></div>
    
                    </div>   
                </div>
            </div>    
        </div>  
        <div class="container-width">
            <div class="main-width">
                <div class="grid-container-product">
                    <div class="grid-item"></div>
                    <div class="grid-item-left">
                        <span class="ultra-light-weight">
                            <span lang="eng">Ultra Light Weight & Precise Control</span> 
                            <span lang="jp">超軽量 &正確なコントロール</span>  
                        </span>
                        <span class="ultra-light-weight-12">
                            <span lang="eng"> 
                                Our robotic arm, with a total system weight of approximately 5.5lbs,
                                is lightweight and capable of automatic recognition and catching of
                                objects through its vision system. It can accurately catch targets
                                even while moving on unstable platforms such as drones. This robotic
                                arm defies conventional wisdom, requiring no solid base, and
                                represents a lightweight yet high-speed and precise technology.
                            </span> 
                            <span lang="jp"> 
                                ロボットアームのシステム全体重量が約2.5kgと軽量、且つ、ビジョンシステムによる対象物の自動認識、
                                自動キャッチが可能となっており、ドローンのような不安定なプラットフォーム上で移動中でも正確に対象物をキャッチすることができます。
                                これまでロボットアームの常識を覆す、強固な土台を必要としない軽量且つ高速正確なロボットアームです。
                            </span>                
                        </span>
                    </div>
                    <div class="grid-item-image-1">
                        <div class="ultra">
                            <img src="../assets/images/94a7fcfdba8eca136d9a0272b2a780e6.jpg" />
                        </div>
                    </div>
                    <div class="grid-item"></div>
                </div>
    
                <div class="grid-container-product line" >
                    <div class="grid-item-image-1"></div>
                </div>
                
                <div class="grid-container-product">
                    <div class="grid-item"></div>
                   
                      
                    <div class="grid-item-image-2"> 
                        
                        <span class="key-technology">
                            <span >Key Technologies</span> 
                        </span>
                        <span class="key-technology-15">
                            <span lang="eng">
                                From the design phase of the logic board, <br />we planned and
                                achieved miniaturization and weight reduction, enabling high-speed
                                computations. When mounted on mobile platforms such as drones (UAVs)
                                or Unmanned Ground Vehicles (UGVs), it allows for the catching of
                                objects while in motion. <br />(Patent Granted)
                            </span> 
                            <span lang="jp">
                                ロジックボードの設計段階から小型軽量化を計画し実現したことで、
                                高速な計算が可能となり、ドローンやUGVのような移動体に搭載した場合でも、
                                移動しながら対象物のキャッチが可能。<br>(特許申請中)
                            </span>  
                        </span>
                    </div>   
                    <div class="key-image">
                        <img src="../assets/images/33bbaf21a19c6cbb9509b99c005fdfe2.jpg" />
                    </div>
               
                    <div class="grid-item"></div>   
                </div>
            
                <div class="grid-container-product line" >
                    <div class="grid-item-image-1"></div>
                </div>
    
                <div class="grid-container-product">
                    <div class="grid-item" ></div>
                    <div class="grid-item">
                        <span class="versatile">
                            <span lang="eng">Versatile</span> 
                            <span lang="jp">様々な用途に対応</span>  
                        </span>
                        <span class="versatile-18">
                            <span lang="eng">
                                Due to the entire system weighing approximately 5.5lbs, its
                                lightweight nature makes it versatile for a wide array of
                                applications: from UAVs and UGVs, humanoid robots, to combining with
                                prosthetics or AR for physical augmentation, the possibilities are
                                endless. For instance, mounted on drones, it can easily perform remote
                                sample collection, hazardous material handling, or debris removal from
                                solar panels. Additionally, it is also readily integrated into
                                harvesting robots in farms where there is a shortage of labor.
                            </span> 
                            <span lang="jp">
                                全体システムが約2.5kgと軽量なため、ドローンなどのUAVやUGV、
                                人型ロボット(Humanoid)から、義手やARなどと組み合わせた人体拡張など、
                                その可能性は無限大です。例えば、ドローンに搭載し、遠隔地からのサンプル採取や危険物処理、
                                ソーラーパネルの異物除去なども容易に行えます。また、人手不足が叫ばれる農場での収穫作業ロボットへの組み込みなども容易です。
                            </span>  
                        </span>
                    </div>
                    <div class="grid-item-image-1">
                        <div class="grid-item-image-2 ">
                            <div class="versatile-image">
                                <img src="../assets/images/1dc056161b6d7080affe5f37cff7c1a0.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="grid-item" ></div>
                </div>
    
                <div class="grid-container-product line" >
                    <div class="grid-item-image-1"></div>
                </div>
    
                <div class="grid-container-product">
                    <div class="grid-item" ></div>
                   
                    <div class="grid-item-image-2">
                        <span class="modular-system-sdk-ready">
                            <span lang="eng">Modular System & SDK ready</span> 
                            <span lang="jp">モジュラーシステム& SDKに対応</span>  
                        </span>
                        <span class="interchangeable-customization-sdk">
                            <span lang="eng">
                                The gripper is designed to be interchangeable, allowing for
                                customization to suit various materials from soft to hard, tailored to
                                the specific objects customers need to catch. Additionally, by
                                utilizing our SDK, it is possible to develop applications aligned with
                                your specific tasks. We also offer further customization, such as
                                motor adjustments, to accommodate the weight of the target objects.
                                <br />Please feel free to contact us for any inquiries.
                            </span> 
                            <span lang="jp">
                                拡張性とカスタマイズグリッパは交換可能となっており、
                                ソフトなものからハードなものまでお客様のキャッチしたい対象物に合わせてロボットアームのグリッパをカスタマイズできます。
                                また、SDKを利用することでお客様のタスクに合わせたアプリケーション開発も可能です。
                                その他、対象物の重量に合わせてモーターカスタマイズなども別途承ります。
                                お気軽にお問い合わせください。
                            </span> 
                        </span>
                    </div>
                    <div class="grid-item">
                        <div class="screenshot-1a"></div>
                    </div>
                    <div class="grid-item" ></div>
                </div>
    
                <div class="grid-container-product line" >
                    <div class="grid-item-image-1"></div>
                </div>
                
                <div class="grid-container-product">
                    <div class="grid-item" ></div>
                    <div class="grid-item">
                        <span class="ros-unity-ios-android">ROS2, Unity iOS, Android</span>
                        <span class="ros2-unity-ios-android">
                            <span lang="eng">
                                Thanks to the control provided by ROS2, we are able to expand various
                                functionalities to meet the needs of our customers.<br />In executing
                                tasks, we have established a simulated environment on Unity, enabling
                                arm control on iOS devices such as iPads and iPhones, as well as on
                                Android devices
                            </span> 
                            <span lang="jp">
                                ROS2により全体を制御しているためお客様のニーズにあわせて様々な機能を拡張することが可能です。<br />
                                タスクを実行するにあたりUnity上でシミュレート環境を構築できるため、
                                iPadやiPhoneなどのiOSデバイスやAndroidデバイスでアームのコントロールを可能にしています。
                            </span> 
                        </span>
                    </div>
                    <div class="grid-item-image-1">
                        <div class="image"></div>
                    </div>
                    <div class="grid-item"></div>
                </div>
    
        </div>
    </div> 
    </section>
