<!DOCTYPE HTML>
<html>
<head>
 {% include head.html %}
  <style  type="text/css">
    
    img.dev{
        width: 150px;
        margin-right: 50px;
      }
    .text-box 
    {
      width: 90%; 
      margin: auto; 
      padding: 10px; 
      text-align: justify;
      white-space: pre-line;
      font-size: 20px; 
    }

    .circular-image 
    {
        width: 200px; 
        height: 200px; 
        border-radius: 50%;
        overflow: hidden;
    }

    .circular-image img 
    {
        width: 100%;
        height: 100%;
    }

    .bg-black
    {
        background: black;
    }
    .font-black
    {
        color: black;
    }
    .font-white
    {
        color: white;
    }
    .font-size-25
    {
        font-size: 25px;
    }
    .table-align
    {
        text-align: left;
    }

    .image-center {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .table-border{
        border: 1px solid white;
        padding: 10px;
    }
  </style>
</head>
<body class="u-body u-xl-mode">
    <div class="overlay" id="myLoading"><div class="spinner"></div></div>
    {% include header.html %} 
    <!-- Header image -->
    <section class="u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-section-1" id="carousel_d9a3">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1">
                        <div class="logo"></div>
                        <div class="u-container-layout"> 
                            <div class="centered-text">Make Impossible Possible</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Robotic Arm for Moving Platforms -->
    <section class=" u-section-2" id="carousel_6487">
        <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row u-size-37">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                          <ul>
                            {% assign section1 = site.data.sitedata.section1 %}
                            <h1 class="u-custom-font u-font-roboto u-text u-text-12 font-black"> 
                                <span >{{section1.title}}</span> 
                            </h1>
                            <h3 class="u-custom-font u-font-roboto u-text u-text-12 font-size-25"> 
                                <span>{{section1.subtitle}}</span>
                            </h3>
                            <p class="u-custom-font u-font-roboto u-text u-text-2"> 
                                <div class="text-box" lang="eng">{{section1.en}}</div>
                                <div class="text-box" lang="jp">{{section1.jp}}</div> 
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2">
                        <div class="u-container-layout"></div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Key Technology -->
    <section class=" u-section-2 bg-black" id="carousel_6487" >
        <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout" >
                <div class="u-layout-row u-size-37">
                    <div class="u-container-style u-image u-layout-cell  u-size-28  u-image-3">
                        <div class="u-container-layout"></div>
                    </div>
                    <div class="u-container-style u-layout-cell  u-size-32 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            {% assign section2 = site.data.sitedata.section2 %}
                            <h1 class="u-custom-font u-font-roboto u-text u-text-12 font-white"> 
                                <span >{{section2.title}}</span>
                               
                            </h1>
                            <p class="u-custom-font u-font-roboto u-text u-text-2" > 
                                <div class="text-box font-white" lang="eng">{{section2.en}}</div>

                                <div class="text-box font-white" lang="jp">{{section2.jp}}</div> 
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Versatile -->
    <section class=" u-section-2" id="carousel_6487">
        <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row u-size-37">
                    <div class="u-container-style u-image u-layout-cell u-left-cell  u-size-28 u-image-4" >
                        <div class="u-container-layout"></div>
                    </div>
                   <div class="u-container-style u-layout-cell  u-size-32 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            {% assign section3 = site.data.sitedata.section3%}
                            <h1 class="u-custom-font u-font-roboto u-text u-text-12"> 
                                <span >{{section3.title}}</span>
                            </h1>
                            <p class="u-custom-font u-font-roboto u-text u-text-2" > 
                                <div class="text-box" lang="eng">{{section3.en}}</div>
                                <div class="text-box" lang="jp">{{section3.jp}}</div> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Modular System & SDK ready -->
     <section class=" u-section-2 bg-black" id="carousel_6487">
        <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row u-size-37">
                    
                   <div class="u-container-style u-layout-cell  u-size-32 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            {% assign section4 = site.data.sitedata.section4%}
                            <h1 class="u-custom-font u-font-roboto u-text u-text-12 font-white"> 
                                <span >{{section4.title}}</span>
                            </h1>
                            <p class="u-custom-font u-font-roboto u-text u-text-2" > 
                                <div class="text-box font-white" lang="eng">{{section4.en}}</div>
                                <div class="text-box font-white" lang="jp">{{section4.jp}}</div> 
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-left-cell  u-size-28 u-image-5" >
                        <div class="u-container-layout"></div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
   
    <!-- ROS2, Unity IOS, Android -->
    <section class=" u-section-2 ros" id="carousel_6487" >
        <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row u-size-34" style=" height: 700px;">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-25 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            {% assign section5 = site.data.sitedata.section5%}
                            <h2 class="u-custom-font u-font-arial u-text u-text-1 font-black"> 
                                <span >{{section5.title}}</span>
                            </h2>
                            <div class="text-box font-black" lang="eng">{{section5.en}}</div>
                            <div class="text-box font-black" lang="jp">{{section5.jp}}</div> 
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-right-cell  u-size-30 u-image-7">
                        <div class="u-container-layout"></div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Robotic Arms for Moving Platforms -->
    <section class=" u-section-2" id="carousel_6487">
        <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row u-size-34" style=" height: 400px;">
                    <div class="u-container-style u-layout-cell u-center-cell u-size-100 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            {% assign section6 = site.data.sitedata.section6%}
                            <h2 class="u-custom-font u-font-arial u-text u-text-1" > 
                                <span >{{section6.title}}</span>
                            </h2>
                            <div class="text-box font-black" lang="eng">{{section6.en}}</div>
                            <div class="text-box font-black" lang="jp">{{section6.jp}}</div> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section> 
    <!-- Specs -->
    <section class=" u-section-2 bg-black" id="carousel_6487" >
        <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout" >
                <div class="u-layout-row u-size-37">
                    <div class="u-container-style u-image u-layout-cell u-left-cell u-size-28  u-image-6">
                        <div class="u-container-layout"></div>
                    </div>
                    <div class="u-container-style u-layout-cell u-left-cell u-size-25 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-specs">
                            <h1 class="u-custom-font u-font-arial u-text u-text-1 font-white"> 
                                <span >Specs</span>
                            </h1>
                              <table class="font-white table-align">
                                {% for specs in site.data.specs %}
                                <tr>
                                    <th>{{specs.th}}</th>
                                    <td>{{specs.td}}</td>
                                </tr>
                                {% endfor %}
                              </table>

                              <p class="font-white">Please note the specs are subject to change without prior notice.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Meet our team -->
   <section class="u-section-2" id="carousel_6487">
        <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <h2 style="text-align: center;">Meet our team</h2>
                <div class="u-layout-row u-size-37">
                    {% for member in site.data.member %}
                    <div class="team-member-container u-container-style u-image u-layout-cell u-size-20 ">
                        <div class="u-container-layout u-container-layout-1 image-center">
                            <div class="u-image circular-image">
                                <img src="{{member.image}}" alt="Image">
                            </div>

                            <h2 class="u-custom-font u-font-arial u-text" style="font-size: 1.24rem;">
                                <span>{{member.name_en}}<br>{{member.name_jp}}<br>{{member.position}}</span>
                            </h2>
                            <p class="u-text-2">
                                {{member.defualt}}<br>
                                {{member.defualt1}}<br>
                                {{member.defualt2}}<br>
                                {{member.defualt3}}
                            </p>
                            <div class="u-image" style="width: 50px; margin-top: 50px; margin-bottom: 50px;">
                                <a href="{{member.link}}" target="_blank">
                                <img src="assets/img/images/in.svg" alt="LinkedIn Icon">
                                </a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form id="myForm" name="googleSheet">
            <div class="modal-header">
                <button type="button" class="close" id="closeBtn" data-dismiss="modal" aria-hidden="true" onclick="clearForm()">&times;</button>
                <h3>
                    <span lang="jp">お問い合わせ</span>
                    <span lang="eng">Contact Us</span>
                </h3>
            </div>
            <div class="modal-body">
                <div id="formAlerts"></div>
                <div class="controls controls-row">
                    <div class="control-group">
                        <label class="input-medium" for="name">
                            <span lang="jp">お名前</span>
                            <span lang="eng">Name</span>
                        </label>
                        <div class="controls">
                            <input class="input-block-level" type="text" id="inputName" name="name" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="input-medium" for="phone">
                            <span lang="jp">電話番号</span>
                            <span lang="eng">Telephone</span>
                        </label>
                        <div class="controls">
                            <input class="input-block-level" type="number" id="inputTelephone" name="phone" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="input-medium" for="mail">
                            <span lang="jp">メールアドレス</span>
                            <span lang="eng">Email</span>
                        </label>
                        <div class="controls">
                            <input class="input-block-level" type="email" id="inputEmail" name="mail" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="input-medium" for="requirement">
                            <span lang="jp">内容</span>
                            <span lang="eng">Requirement</span>
                        </label>
                        <div class="controls">
                            <textarea rows="3" class="input-block-level" id="inputRequirement" name="requirement" autocomplete="off" required></textarea>
                        </div>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6Lej9kwjAAAAAPav0xBFXmxKZoBLLC_oiO7uE5zi"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="reset">
                    <span lang="jp">リセット</span>
                    <span lang="eng">Reset</span>
                </button>
                <button class="btn btn-success" type="submit">
                    <span lang="jp">送信</span>
                    <span lang="eng">Send</span>
                </button>
            </div>
        </form>
    </div>
    {% include footer.html %}
</body>
</html>

