<!DOCTYPE HTML>
<html>
<head>
  {% include head.html %}
  <style type="text/css">
      img.dev{
        width: 150px;
        margin-right: 50px;
      }
  </style>
</head>
<body class="u-body u-xl-mode">
    <div class="overlay" id="myLoading"><div class="spinner"></div></div>
    {% include header.html %} 
    <section class="u-clearfix u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-section-1" id="carousel_d9a3">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1">
                  <div class="u-container-layout"></div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2">
                  <div class="u-container-layout u-container-layout-2">
                    <div class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-group u-group-1">
                      <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-container-layout-3">
                        <h1 class="u-custom-font u-font-arial u-text u-title u-text-1">Make impossible possible</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_6487">
        <img src="assets/img/zurag/2.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="693" data-image-height="1080">
        <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-28 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-custom-font u-font-arial u-text u-text-1"> 
                                <span lang="jp">我々は</span>
                                <span lang="eng">Introduction</span>
                            </h2>
                            <p class="u-custom-font u-font-arial u-text u-text-2">
                                <span lang="jp">数々の制御ロボット開発を行なってきたモンゴル出身の数学者とソフトウェアエンジニア。<br>ロボティクスの未来を見た日本とアメリカに住む日本人。 日本、モンゴル、アメリカから集まったメンバーがチームを組んで難題に挑んでいく。 神聖な山、Kailasを踏破するように。<br>Kailasは、ヒマラヤ山脈に聳える天空の山。神聖な山であり、非常に険しい山としても知られている。Kailas Robticsはロボットエンジニアリングで難題を解決していきます。</span>
                                <span lang="eng">A math genius and software engineer from Mongolia who has developed numerous control robots meets a Japanese living in Japan and the U.S. who see the future of robotics. <br>We team up to take on difficult challenges. Like stepping on the sacred mountain, Kailas. <br>Kailas is a mountain in the sky rising in the Himalayas. Kailas Robotics uses robotic engineering to solve the most difficult challenges.</span>
                            </p>
                            <a href="#myModal" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-base u-palette-4-dark-2 u-radius-50 u-btn-1" role="button" data-toggle="modal">
                                <span lang="jp">お問い合わせ</span>
                                <span lang="eng">Contact Us</span><br>
                            </a>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-32 u-image-2" data-image-width="714" data-image-height="705">
                        <div class="u-container-layout"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-2">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-3">
                        <div class="u-container-layout u-container-layout-3">
                            <h2 class="u-custom-font u-font-arial u-text u-text-3"> 
                                <span lang="jp">私たちのソリューション</span>
                                <span lang="eng">Our Solution</span>
                            </h2>
                            <p class="u-text u-text-4"> 
                                <span lang="jp">Kailas Roboticsでは、最先端のSoCベースにFPGAから設計を行う事によって、これまで難しいとされていた分野でのロボティクスのコア技術を開発し、高所や難所作業に最適化されたロボティクス制御システムを実現します。<br>我々の革新的技術によって例えば食品加工ロボットや介護ロボットなど、あらゆる作業ロボットへの展開が可能になります。</span>
                                <span lang="eng">By designing from an FPGA on a state-of-the-art SoC base, Kailas Robotics develops core robotics technologies in previously considered impossible areas, enabling robotics control systems optimized for high and difficult tasks. <br>Our innovative technology can be deployed in all kinds of work robots, such as food processing and nursing care robots.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="u-clearfix u-layout-wrap u-layout-wrap-2">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-3">
                        <div class="u-container-layout u-container-layout-3">
                            <h2 class="u-custom-font u-font-arial u-text u-text-4"> 
                                <span lang="jp">ニュース</span>
                                <span lang="eng">News</span>
                            </h2>
                             <p class="u-text u-text-4"> 
                              <div>
                                 <a lang="jp" style="color:black" href="/news/JETRO_GSAP_20230913_jp.html">JETROが主催する“グローバル・スタートアップ・アクセラレーションプログラムGSAPのDeep Techコースに採択されました</a>
                                <a lang="eng" style="color:black" href="/news/JETRO_GSAP_20230913_en.html">Kailas Robotics Selected for JETRO's GSAP Program for Deep Tech Startups</a>
                                <span style="float: right; font-size: 12px; color: gray;" lang="jp">2023年9月13日 </span>
                                <span style="float: right;font-size: 12px;color: gray;" lang="eng">September 13, 2023 </span>
                            </div>
                            <div style="margin-top: 10px;">
                                <a lang="jp" style="color:black" href="/news/japan_innovation_campus_20231114_jp.html">経済産業省が主導する米国・シリコンバレー拠点「Japan Innovation Campus」のコワーキングメンバーにKailas Roboticsが採択されました</a>
                                <a lang="eng" style="color:black" href="/news/japan_innovation_campus_20231114_en.html">The Ministry of Economy, Trade and Industry of Japan has selected Kailas Robotics as a co-working member of the "Japan Innovation Campus" in Silicon Valley, USA</a>
                                <span style="float: right; font-size: 12px; color: gray;" lang="jp">2023年9月13日 </span>
                                <span style="float: right;font-size: 12px;color: gray;" lang="eng">September 13, 2023 </span>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form id="myForm" name="googleSheet">
            <div class="modal-header">
                <button type="button" class="close" id="closeBtn" data-dismiss="modal" aria-hidden="true" onclick="clearForm()">&times;</button>
                <h3>
                    <span lang="jp">お問い合わせ</span>
                    <span lang="eng">Contact Us</span>
                </h3>
            </div>
            <div class="modal-body">
                <div id="formAlerts"></div>
                <div class="controls controls-row">
                    <div class="control-group">
                        <label class="input-medium" for="name">
                            <span lang="jp">お名前</span>
                            <span lang="eng">Name</span>
                        </label>
                        <div class="controls">
                            <input class="input-block-level" type="text" id="inputName" name="name" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="input-medium" for="phone">
                            <span lang="jp">電話番号</span>
                            <span lang="eng">Telephone</span>
                        </label>
                        <div class="controls">
                            <input class="input-block-level" type="number" id="inputTelephone" name="phone" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="input-medium" for="mail">
                            <span lang="jp">メールアドレス</span>
                            <span lang="eng">Email</span>
                        </label>
                        <div class="controls">
                            <input class="input-block-level" type="email" id="inputEmail" name="mail" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="input-medium" for="requirement">
                            <span lang="jp">内容</span>
                            <span lang="eng">Requirement</span>
                        </label>
                        <div class="controls">
                            <textarea rows="3" class="input-block-level" id="inputRequirement" name="requirement" autocomplete="off" required></textarea>
                        </div>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6Lej9kwjAAAAAPav0xBFXmxKZoBLLC_oiO7uE5zi"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="reset">
                    <span lang="jp">リセット</span>
                    <span lang="eng">Reset</span>
                </button>
                <button class="btn btn-success" type="submit">
                    <span lang="jp">送信</span>
                    <span lang="eng">Send</span>
                </button>
            </div>
        </form>
    </div>
    {% include footer.html %}
</body>
</html>

