<!DOCTYPE HTML>
<html>
<head>
  {% include head.html %}
  <style type="text/css">
      img.dev{
        width: 150px;
        margin-right: 50px;
      }
    /*  .dev:hover{
        width: 156px;
      }*/
  </style>
</head>
<body>
    {% include header.html %} 
    <div id="services" class="parallax section lb">
        <div class="container">
            <div class="row custom-p5">
                <div class="col-6">
                  <h3>Introduction:</h3>
                  <p class="custom-text-color">数々の制御ロボット開発を行なってきたモンゴル出身の数学者とソフトウェアエンジニア。</br>ロボティクスの未来を見た日本とアメリカに住む日本人。 日本、モンゴル、アメリカから集まったメンバーがチームを組んで難題に挑んでいく。 神聖な山、Kailasを踏破するように。</br>Kailasは、ヒマラヤ山脈に聳える天空の山。神聖な山であり、非常に険しい山としても知られている。Kailas Robticsはロボットエンジニアリングで難題を解決していきます。</p>
                </div>
                <div class="col-6">
                  <h3>Our Solution:</h3>
                  <p class="custom-text-color">Kailas Roboticsでは、最先端のSoCベースにFPGAから設計を行う事によって、これまで難しいとされていた分野でのロボティクスのコア技術を開発し、高所や難所作業に最適化されたロボティクス制御システムを実現します。</br> 我々の革新的技術によって例えば食品加工ロボットや介護ロボットなど、あらゆる作業ロボットへの展開が可能になります。</p>
                </div>
            </div>
        </div>
    </div><!-- end section -->
  {% include footer.html %}
</body>
</html>

